<div class="row">
  <div class="input-group">
    <div class="container-fluid">
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                       <div class="header" style="background-color:#aabad8;">
                            <h2><b style="color:black;">Accouting Mnanagement System </b></h2>
                        </div> 
                    
                     <div class="row clearfix">
                           <div class="col-lg-6 col-md-6 col-sm-8 col-xs-12">
                        <div class="body">     
                <div class="col-lg-10 col-md-10 col-sm-8 col-xs-12">  
                         <div class="body">
                            <div class="list-group">
                                <a href="javascript:void(0);" class="list-group-item active">
                                    Payment and Student:
                                </a>
                                 <a href="javascript:void(0);" class="list-group-item">Total number of student:</a>
                                <a href="javascript:void(0);" class="list-group-item">No.of paid student:</a>
                                <a href="javascript:void(0);" class="list-group-item">No.of Due student:</a>
                            </div>
                        </div>
                 </div>   
              
                    <div class="col-lg-10 col-md-10 col-sm-8 col-xs-12">
                         <div class="body">
                            <div class="list-group">
                                <a href="javascript:void(0);" class="list-group-item active">
                                    Setting and More:
                                </a>
                                 <a href="javascript:void(0);" class="list-group-item">No. of Student Paid by Cash:</a>
                                <a href="javascript:void(0);" class="list-group-item">No. of Student Paid by Cheque:</a>
                      </div>
                 </div>
            </div>
       
       <div class="col-lg-10 col-md-10 col-sm-8 col-xs-12">
                         <div class="body">
                            <div class="list-group">
                                <a href="javascript:void(0);" class="list-group-item active">
                                    Fine and Collection :
                                </a>
                                 <a href="javascript:void(0);" class="list-group-item">Total Received Fine Rs:</a>
                                <a href="javascript:void(0);" class="list-group-item">Unreceived Fine Rs:</a>
                      </div>
                 </div>
            </div>
        </div>
     </div>
           
   
                <!-- #END# Linked Items -->
                <!-- Button Items -->
                <div class="col-lg-6 col-md-6 col-sm-8 col-xs-12">
                   
                        
                        <div class="body">     
               
                 <div class="row clearfix">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="info-box bg-light-blue hover-expand-effect">
                        <div class="icon">
                            <i class="material-icons">payment</i>
                        </div>
                        <div class="content">
                            <div class="text">Payment</div>
                            </div>
                     </div>
                    </div>
                </div>
                 <div class="row clearfix">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="info-box bg-light-green hover-expand-effect">
                        <div class="icon">
                            <i class="material-icons">book</i>
                        </div>
                        <div class="content">
                            <div class="text">Admission</div>
                            </div>
                     </div>
                    </div>
                </div>
             
                 <div class="row clearfix">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="info-box bg-light-blue hover-expand-effect">
                        <div class="icon">
                            <i class="material-icons">border_color</i>
                        </div>
                        <div class="content">
                            <div class="text">Maintaince</div>
                            </div>
                   </div>
               </div>
           </div>
       </div>
   </div>
</div>
</div>





