<div class="body">
 <div class="content-wrapper">
    <div class="content">
      <div class="page-header">
<ol class="breadcrumb breadcrumb" style="background-color:#aabad8">
              <li><a href="#"><i class="material-icons">home</i> Home</a></li>
              <li><a href="#"><i class="material-icons">person</i>Student </a></li>
              <li class="active">Student Admission</li>
      <ul class="breadcrumb-elements">                          
        </ul>
         <a class="breadcrumb-elements-toggle"><i class="icon-menu-open"></i></a><a class="breadcrumb-elements-toggle"><i class="icon-menu-open"></i></a>
            </ol> 
            <br>
<div class="row">
  <form (ngSubmit)="saveStudent()" #studentForm="ngForm">
      <div class="col-sm-12">
          <div class="card">
                        <div class="header" style="background-color:#aabad8">
                            <h2>
                                <b style="color: black;">Student Admission</b>
                            </h2>
                        </div>

      <div class="panel-body">
        <div class="row clearfix">
          <div class="col-sm-6">
             <label for="official_details">Type</label>
                  <select class="form-control" (change)="onChange($event.target.value)" name="Official Details">
                    <option value="1">Official Details</option>
                    <option value="2">Personal Details</option>
                    <option value="3">Contact Details</option>
                    <option value="4">Father's Details</option>
                    <option value="5">Mother's Details</option>
                  </select>
          </div>
        </div>


        <div class="row clearfix">
          <div class="col-sm-6"   *ngIf="detail_type[1]">
            <div class="panel-body">
        <div class="row">
            <p><b>OFFICIAL DETAILS:-</b></p><hr>
            <div class="panel-body">
                <div class="row clearfix">
            <div class="col-sm-6">
                    <label for="academic_year">Batch</label>
                      <select class="form-control" [(ngModel)]= "student.batch"  [ngModelOptions]="{standalone: true}">
                    <option value="">Select Batch</option>
                    <option value="1">2070</option>
                    <option value="4">2071</option>
                    <option value="5">2072</option>
                    <option value="6">2073</option>
                    <option value="7">2074</option>
                    <option value="8">2075</option>
                  </select>
    </div>
            <div class="col-sm-6">
                  <label for="reg_no">Register Number</label>
                     <input type="text" class="form-control" [(ngModel)]="student.register_no" [ngModelOptions]="{standalone: true}" name="reg_no" placeholder="Enter Registration Number" required>
            </div>
        </div>
        <br>

   <div class="row clearfix">
            <div class="col-sm-6">
                  <label for="joining_date">Joining Date</label>
                    <select  class="form-control" [(ngModel)]= "student.joining_date"  [ngModelOptions]="{standalone: true}">
                      <option>2018-2019</option>
                      <option>2020-2021</option>
                      <option>2022-2023</option>
                      <option>2024-2025</option>
                      <option>2026-2027</option>
                    </select>
        </div>
   
            <div class="col-sm-6">
                  <label for="title">Course*</label>
                    <select  class="form-control" [(ngModel)]= "student.course" [ngModelOptions]="{standalone: true}">
                      <option>Select Course</option>
                      <option>PhP</option>
                      <option>History</option>
                      <option>Math</option>
                      <option>Science</option>
                    </select>
                </div>
            </div>
          </div>
        </div>

        <div class="row clearfix">
          <div class="col-sm-6"   *ngIf="detail_type[2]">
             This is personal details type
          </div>
        </div>

        <div class="row clearfix">
          <div class="col-sm-6"   *ngIf="detail_type[3]">
             This is contact details type
          </div>
        </div>

         <div class="row clearfix">
          <div class="col-sm-6"   *ngIf="detail_type[4]">
             This is father details type
          </div>
        </div>

         <div class="row clearfix">
          <div class="col-sm-6"   *ngIf="detail_type[5]">
             This is mother details type
          </div>
        </div>
