<div class="content-wrapper">
    <div class="content">
      <div class="page-header">
         <ol class="breadcrumb breadcrumb">
              <li><a href="#"><i class="material-icons">home</i> Home</a></li>
              <li><a href="#"><i class="material-icons">class</i>Course</a></li>
              <li class="active"> Add Course </li>
           <ul class="breadcrumb-elements">                          
            </ul>
            <a class="breadcrumb-elements-toggle"><i class="icon-menu-open"></i></a><a class="breadcrumb-elements-toggle"><i class="icon-menu-open"></i></a>
            </ol> 
            <br>

  <form (ngSubmit)="onSubmit()" #courseForm="ngForm">
    
   <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-primary">
           
              <div class="panel-heading">
                <h4 class="panel-title">Add Course</h4>
              </div>
              <br> 

  <div class="panel-body">
    <div class="row clearfix">
             <div class="col-sm-6">
                  <label for="name">Course Name</label>
                     <input type="text" class="form-control" [(ngModel)]="obj_course.name" name="name"  size="84" maxlength="45" placeholder="Enter Course Name " required>
            </div>
             <div class="col-sm-6">
                  <label for="department">Department</label>
                     <input type="text" class="form-control" [(ngModel)]="obj_course.department" name="department"  size="84" maxlength="45" placeholder="Enter Department " required>
            </div>
        </div>
<br>
      <div class="row clearfix">
          <div class="col-sm-6">
                  <label for="course_code">Course code</label>
                     <input type="text" class="form-control" [(ngModel)]="obj_course.code" name="code"  size="84" maxlength="45" placeholder="Enter Course Code " required>
            </div>
             <div class="col-sm-6">
                  <label for="description">Description</label>
                     <input type="text" class="form-control" [(ngModel)]="obj_course.description" name="description"  size="84" maxlength="45" placeholder=" Description " required>
            </div>
        </div>
         
<br>
<br>

    <div class="form-group">
            <button class="btn btn-info" style="background-color:#aabad8;" type="Submit"><b>Save</b></button>
        </div>

    </div>
  </div>
</div>


<div class="content-wrapper">           
    <div class="content">
 <div class="form-group">
    <div class="row">
    <div class="col-sm-6"> 
     <div class="panel panel-default">
              <div class="panel-heading" >                    
       <div class="table-responsive">                       
              <div class="row">              
                <div class="col-xs-6 col-md-6">
                  <div class="input-group">
                    <input type="text" (keyup)='updateFilter($event)' class="form-control" placeholder="Enter Name" id="txtSearch" />
                    <div class="input-group-btn">
                      <button class="btn btn-primary" type="submit">
                        <span class="glyphicon glyphicon-search"></span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- <input type='text' style='padding:8px;margin:15px auto;width:30%;' placeholder='search with name'
                                (keyup)='updagitteFilter($event)'
                              /> -->
              <ngx-datatable class="material" [rows]="course" [sortType]="'multi'" [columnMode]="'force'" [headerHeight]="50"
                [footerHeight]="50" [rowHeight]="'auto'" [limit]="10">

                <ngx-datatable-column name="ID" prop="id">
                  <ng-template let-column="column" ngx-datatable-header-template>{{column.name}}</ng-template>
                  <ng-template let-value="value" ngx-datatable-cell-template>{{value}}</ng-template>
                </ngx-datatable-column>

                <!-- <ngx-datatable-column name="Name" prop="user.first_name">
                  <ng-template let-column="column" ngx-datatable-header-template>{{column.name}}</ng-template>
                  <ng-template let-value="value" ngx-datatable-cell-template>{{value}}</ng-template>
                </ngx-datatable-column> -->
                <ngx-datatable-column name=" Course Name" prop="name">
                  <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                    <span
                      title="Double click to edit"
                      (dblclick)="editing[rowIndex + '-name'] = true"
                      *ngIf="!editing[rowIndex + '-name']">
                      {{value}}
                    </span>
                    <input
                      autofocus
                      (blur)="updateValue($event, 'name', rowIndex)"
                      *ngIf="editing[rowIndex+ '-name']"
                      type="text"
                      [value]="value"
                    />
                  </ng-template>
                </ngx-datatable-column>


                <ngx-datatable-column name="Course Code" prop="code">
                  <ng-template let-column="column" ngx-datatable-header-template>{{column.name}}</ng-template>
                  <ng-template let-value="value" ngx-datatable-cell-template>{{value}}</ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Actions" sortable="false" prop="id">
                  <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                    Manage
                  </ng-template>
                  <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <a class="glyphicon glyphicon-eye-open" title="" href="/class/add-course/{{value}}"><img src="" alt=""></a>
                    <a class="glyphicon glyphicon-trash left-icon" title="" href="/class/add-course/delete/{{value}}"><img src="" alt=""></a>
                  </ng-template>
                </ngx-datatable-column>
              </ngx-datatable>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>







