<div class="body">
  <div class="content-wrapper">
    <form ngNativeValidate (ngSubmit)="OnSubmitTask()" #taskForm="ngForm">
      <div class="col-sm-6">
        <div class="panel panel-primary">
          <div class="panel-heading">
              <h4 class="panel-title">Assign  Task</h4>
          </div>
        </div>
       <div class="body">
          <div class="row clearfix">
             <div class="col-md-6">
                <label for="reg_input" class="req">Event </label>
                      <select class="form-control" [(ngModel)]="selected_event" name="event" required>
                        <option *ngFor="let e of event" [ngValue]="e.id">{{e.name}}</option>
                      </select>
           </div>

              <div class="col-md-6 ">
                <label for="task-name">Task Name</label>
                  <input type="text" class="form-control" [(ngModel)]="task.name" name="task-name"  placeholder="Enter Task Name" required>
           </div>
   
            <div class="col-md-6 form-top-margin">
                   <label for="description">Description</label>
                     <input type="text" class="form-control" [(ngModel)]="task.description" name="description"  minlength="8" placeholder="Enter description" required>
               </div>
         

   
           <div class="col-md-6 form-top-margin ">
               <label for="reg_input_name">Priority</label>
                    <select class="form-control" [(ngModel)]="task.priority"  name="Taskmanager[task_priority]" id="Taskmanager_task_priority">
                      <option value="">Please Select</option>
                      <option value="1">Highest Priority</option>
                      <option value="2">High Priority</option>
                      <option value="3">Normal Priority</option>
                      <option value="4">Low Priority</option>
                     </select>
               </div>
        
            <div class="col-md-6 form-top-margin">
                <label for="date">Task Date</label>
                 <input type="date" class="form-control" [(ngModel)]="task.date"  name="date"   placeholder="" required>
                 
            </div>

          <!-- <div class="row clearfix"> -->
              <div class="col-md-6 form-top-margin">
                <label for="user_type">User type</label>
                    <select class="form-control" (change)="onChange($event.target.value)" name="user" [(ngModel)]="task.user">
                        <option value="1">Select Type</option>
                        <option value="3">Student</option>
                        <option value="4">Employee</option>
                  </select> 
              </div>
          </div>
         <div class="row clearfix" *ngIf="detail_type[3]">
            <div class="col-md-6 form-top-margin"   >   
               <label for="reg_input" class="req">Course* </label>
                      <select class="form-control" [(ngModel)]="selected_course" name="course" required>
                        <option *ngFor="let c of courses" [ngValue]="c.id">{{c.name}}</option>
                      </select>
            </div>

            <div class="col-md-6 form-top-margin">
              <label for="reg_input" class="req">Batch*</label>
                <select class="form-control" [(ngModel)]="selected_batch" name="batch" required>
                    <option *ngFor="let b of batch" [ngValue]="b.id">{{b.name}}</option>
                      </select>
            </div>

            <div class="col-md-6 form-top-margin">
                   <label for="student_id">Student</label>
                  <select class="form-control" [(ngModel)]="task.student" name="student" id="Taskmanager_task_status">
                     <option value="1">Sonika</option>
                     <option value="2">Dinesh</option>
                     <option value="3">Suraj</option>
                     <option value="4">Abhikesh</option>
               </select>
            </div>
          </div> 
         
          <div class="row clearfix form-top-margin">
            <div class="col-md-6">
                <label for="status">Status</label>
                  <select class="form-control" [(ngModel)]="task.status" name="status" id="Taskmanager_task_status">
                     <option value>Please Select</option>
                     <option value="1">Open</option>
                     <option value="2">On hold</option>
                     <option value="3">Resolved</option>
                     <option value="4">Closed</option>
               </select>
            </div>
          </div>
        
       
          <div class="panel-footer">
            <button class="btn btn-primary btn-lg" type="Submit"><b>Save</b></button>
      </div>
   </div>
  </div>
</form>
  


  <div class="body">
       <div class="content-wrapper"> 
          <div class="col-sm-6">           
            <div class="panel panel-primary">
              <div class="panel-heading">    
                 <h4 class="panel-title">Search Event</h4> 
              </div>
          <div class="panel-body">
            <div class="table-responsive">
                <div class="col-xs-6 col-md-6">
                  <div class="input-group">
                    <input type="text" (keyup)='updateFilter($event)' class="form-control" placeholder="Enter Name" id="txtSearch" />
                    <div class="input-group-btn">
                      <button class="btn btn-primary" type="submit">
                        <span class="glyphicon glyphicon-search"></span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
             
              <ngx-datatable class="material" [rows]="tasks" [sortType]="'multi'" [columnMode]="'force'" [headerHeight]="50"
                [footerHeight]="50" [rowHeight]="'auto'" [limit]="10">

                <ngx-datatable-column name="ID" prop="id">
                  <ng-template let-column="column" ngx-datatable-header-template>{{column.name}}</ng-template>
                  <ng-template let-value="value" ngx-datatable-cell-template>{{value}}</ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Name" prop="name">
                  <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                    <span
                      title="Double click to edit"
                      (dblclick)="editing[rowIndex + '-name'] = true"
                      *ngIf="!editing[rowIndex + '-name']">
                      {{value}}
                    </span>
                    <input
                      autofocus
                      (blur)="updateValue($event, 'name', rowIndex)"
                      *ngIf="editing[rowIndex+ '-name']"
                      type="text"
                      [value]="value"
                    />
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Priority" prop="priority">
                  <ng-template let-column="column" ngx-datatable-header-template>{{column.name}}</ng-template>
                  <ng-template let-value="value" ngx-datatable-cell-template>{{value}}</ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Task Date" prop="date">
                  <ng-template let-column="column" ngx-datatable-header-template>{{column.name}}</ng-template>
                  <ng-template let-value="value" ngx-datatable-cell-template>{{value}}</ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Actions" sortable="false" prop="id">
                  <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                    Manage
                  </ng-template>
                  <ng-template let-row="list" let-value="value" ngx-datatable-cell-template>

                    <a class="glyphicon glyphicon-eye-open btn btn-primary" style="margin-left:-10px;" title="" href="/task/edit-task/{{value}}"><img src="" alt=""></a>

                      <button class="glyphicon glyphicon-trash left-icon btn btn-danger" style="margin-left:0.01px;" (click)="deleteTask(value)"></button>
                  </ng-template>
                </ngx-datatable-column>
              </ngx-datatable>
            </div>
          </div>
        </div>
      </div>
    </div>



