<div class="body">
 <div class="content-wrapper">
    <div class="content">
      <div class="page-header">
        <ol class="breadcrumb breadcrumb">
                                <li><a href="javascript:void(0);"><i class="material-icons">home</i> Home</a></li>
                                <li><a href="javascript:void(0);">Student</a></li>
                                <li><a href="javascript:void(0);">Student ID Card</a></li>
            </ol>

   <div class="row">
     <form ngNativeValidate (ngSubmit)="onSubmit()" #studentForm="ngForm">
      <div class="col-sm-12">
          <div class="card">
                        <div class="header">
                            <h2>
                                <b>Student Id Card</b>
                            </h2>
                        </div>
                        <br>
     <div class="panel-body">
       <div class="row clearfix">
           <div class="col-sm-4">
              <label for="reg_input" class="req">Course* </label>
                 <select class="form-control" [(ngModel)]="student.course" name="course" required>
                    <option value="">Select Course</option>
                    <option *ngFor="let c of courses" [ngValue]="c.id">{{c.name}}</option>
                  </select>
           </div>    

        <div class="col-sm-4" id="batch">
          <label for="reg_input" class="req">Batch*</label>
            <select class="form-control" name="Student[batchid]" id="Student_batchid">
                   <option value="">Select</option>
                   <option value="23">A</option>
                   <option value="24">B</option>
                   <option value="26">rt</option>
          </select>
      </div>                     
   
            <div class="col-sm-4" id="type">
                <label for="reg_input" class="req">Id Type*</label>
                   <select class="form-control" name="Student[type]" id="Student_type">
                      <option value="prompt">Select ID Template</option>
                      <option value="horizontal">Horizontal ID Card</option>
                      <option value="vertical">Vertical ID Card</option>
                    </select>                               
            </div>
            
         <div class="form-group col-sm-2">
                <label> &nbsp; &nbsp;</label>
                  <p> &nbsp;&nbsp;<a href="javascript:viewstudent()" class="btn btn-info">Generate ID Card</a> </p> 
         </div>
        </div>
                                       