<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-1">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">Set Up Academic Year</h4>
        </div>
        <div class="panel-body">
          <div class="row clearfix">
            <div class="col-sm-10">
              <div class="col-md-3">
                <label for="class" class=" control-label">Academic Year</label>
              </div>
              <div class="col-md-6">
                <select class="form-control">
                  <option value="0">Select Academic Year</option>
                  <option value="1">2073-2074</option>
                  <option value="2">2074-2075</option>
                  <option value="3">2075-2076</option>
                </select>
            </div>
            </div>
          </div>
          <br>

          <div class="panel-footer">
            <div class="btn-toolbar">
              <button class="btn btn-default btn-lg" type="Submit"><b>Add Academic Year</b></button>
              <button class="btn btn-default btn-lg " type="Submit"><b>Clear</b></button></div>
          </div>
      
      </div>
    </div>
  </div>


</div>
</div>