<div class="body">
  <form ngNativeValidate (ngSubmit)="OnSubmitSubjectUpdate()" #updateSubject="ngForm">
    <div class="content-wrapper">
      <div class="col-sm-6">
        <div class="panel panel-primary">
          <div class="panel-heading">
          	  <h4 class="panel-title">Add  Subject</h4>
          </div>
       <div class="panel-body">
          <div class="row clearfix">     
            <div class="col-sm-10">
                  <label for="subject-name">Subject Name</label>
                     <input type="text" class="form-control" [(ngModel)]="subject.name"  [ngModelOptions]="{standalone: true}" name="subject-name"  size="84" maxlength="45" placeholder="Enter Subject Name" required>
        </div>
      </div>
      <br>

       <div class="row clearfix">
            <div class="col-sm-10">
                  <label for="code">Code</label>
                     <input type="text" class="form-control" [(ngModel)]="subject.code" [ngModelOptions]="{standalone: true}" name="code"  size="84" maxlength="8" placeholder="Enter Code" required>
               </div>
         </div>
    <br>
        <div class="row clearfix">
            <div class="col-sm-10">
                <label for="description">Description</label>
                     <input type="text" class="form-control" [(ngModel)]="subject.description" [ngModelOptions]="{standalone: true}" name="description"  size="84" maxlength="15" placeholder="Enter Description" required>
            </div>
          </div>
            <br>

          <div class="panel-footer">
            <button class="btn btn-primary btn-lg" type="Submit"><b>Update Subject</b></button>
       </div>
     </div>
   </div>
 </div>
