<div class="container">
  <h1>Add Expense</h1>
  <div class="row">
    <div class="col-md-6">
        <div class="input-group">
           <div class="col-sm-3">
             <div class="form-group">
               <label for="email_address_2"> Title</label>
             </div>
           </div>
         <div class="col-md-9">
                  <div class="form-group">
                     <div class="form-line">
                         <input type="text" class="form-control"  name="text"  required>
                       </div>
                  </div>
             </div>
        </div>
    
        <div class="input-group">
           <div class="col-sm-3">
             <div class="form-group">
               <label for="email_address_2">Category</label>
             </div>
           </div>
         <div class="col-md-9">
                  <div class="form-group">
                     <div class="form-line">
                         <input type="text" class="form-control"  name="title" placeholder=""required/>
                       </div>
                  </div>
             </div>
           </div>

       <div class="input-group">
           <div class="col-sm-3">
             <div class="form-group">
               <label for="email_address_2">Description</label>
             </div>
           </div>
         <div class="col-md-9">
                  <div class="form-group">
                     <div class="form-line">
                         <input type="text" class="form-control"  name="text"  placeholder="description" required>
                       </div>
                  </div>
             </div>
        </div>
        <div class="input-group">
           <div class="col-sm-3">
             <div class="form-group">
               <label for="email_address_2">Amount</label>
             </div>
           </div>
         <div class="col-md-9">
                  <div class="form-group">
                     <div class="form-line">
                         <input type="text" class="form-control"  name="text"  placeholder="amount" required>
                       </div>
                  </div>
             </div>
        </div>

        <div class="input-group">
           <div class="col-sm-3">
             <div class="form-group">
               <label for="email_address_2">Method</label>
             </div>
           </div>
          <div class="col-lg-9 col-md-9 col-sm-4 col-xs-5 form-control-label">
                  <div class="form-group">
                     <div class="form-line" >
                          <select class="form-control">
                          <option>Cash</option>
                         <option>Cheque</option>
                         </select>
                       </div>
                  </div>
             </div>
        </div>

       <div class="input-group">
           <div class="col-sm-3">
             <div class="form-group">
               <label for="email_address_2">Date</label>
             </div>
           </div>
         <div class="col-md-9">
                  <div class="form-group">
                     <div class="form-line">
                         <input type="date" class="form-control"  name="text"  placeholder="" required>
                       </div>
                  </div>
             </div>
        </div>
          <div class="input-group">
            <button type="Submit" class="btn btn-success" [disabled]="!PaymentForm.form.valid">Add Expense</button>
          </div>
   
      

