<ng-progress #progressBar></ng-progress>
<div class="body">
  <form (ngSubmit)="onSubmitVehicle()" #vehicleForm="ngForm">
    <div class="content-wrapper">
      <div class="col-sm-6">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h4 class="panel-title">Add Vehicle</h4>
          </div>
          <div class="panel-body">
            <div class="row clearfix">
              <div class="col-sm-6">
                <label for="vehicle_no" class="label-control">Vehicle No</label>
                <input type="text" id="vehicle_no" class="form-control" name="vehicle_no" [(ngModel)]="vobj.vehicle_no"
                  placeholder="Vehicle No">

              </div>
              <div class="col-sm-6">
                <label for="no_of_seat" class="label-control">No Of Seat</label>
                <input type="text" id="no_of_seat" class="form-control" name="no_of_seats" [(ngModel)]="vobj.no_of_seats"
                  placeholder="No Of Seat">

              </div>

              <div class="col-sm-6 form-top-margin">
                <label for="maximum_allowed" class="label-control">Maximum Allowed</label>
                <input type="text" id="maximum_allowed" class="form-control" name="max_allowed" placeholder="Maximum Allowed"
                  [(ngModel)]="vobj.max_allowed">

              </div>
              <div class="col-md-6 form-top-margin">
                <label for="contact_person"> Contact Person</label>
                <input type="text" name="contact_person" id="contact_person" class="form-control" placeholder="contact_person"
                  [(ngModel)]="vobj.contact_person">

              </div>
              <div class="row">
                <div class="col-sm-6 form-top-margin" style="margin-left:17px;">
                  <label for="insurance" class="label-control">Insurance Renew Date</label>
                  <input type="date" id="insurance" class="form-control" name="insurance_renew_date" [(ngModel)]="vobj.insurance_renew_date">

                </div>
              </div>

              <div class="col-md-6 form-top-margin">
                <label for="driver">Select Driver</label>

                <select class="form-control" name="selected_driver" [(ngModel)]="selected_driver">
                  <option *ngFor="let driver of _driver" [ngValue]="driver.id">{{driver.name}}</option>

                </select>
              </div>
              <div class="col-md-4 form-top-margin ">
                <button type="button" class="btn btn-primary waves-effect" data-toggle="modal" data-target="#smallModal"
                  style="margin-top:23px;margin-left: -23px;">+Add New</button>
              </div>





            </div>

            <div class="panel-footer">
              <button class="btn btn-primary" type="Submit">Add Vehicle</button>
            </div>
          </div>
        </div>
      </div>


    </div>
  </form>
</div>
<div class="modal fade" id="smallModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <form ngNativeValidate (ngSubmit)="onSubmitDriver()" #driverForm="ngForm">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="smallModalLabel">Add Driver</h4>
        </div>
        <div class="modal-body">
          <div class="panel-body">
            <div class="row clearfix">

              <div class="col-md-6">
                <label for="name"> name</label>
                <input type="text" name="name" id="name" class="form-control" [(ngModel)]="obj.name" placeholder="name">

              </div>
              <div class="col-md-6 ">
                <label for="present address"> Present Address</label>
                <input type="text" name="present_address" class="form-control" placeholder="present Address"
                  [(ngModel)]="obj.current_address">
              </div>
              <div class="col-md-6 form-top-margin">
                <label for="permanent_address"> Permanent Address</label>
                <input type="text" name="permanent_address" id="permanent_address" class="form-control" placeholder="Permanent Address"
                  [(ngModel)]="obj.permanent_address">

              </div>

              <div class="col-md-6 form-top-margin">
                <label for="phone"> Phone No.</label>
                <input type="number" name="phone" id="phone" class="form-control" placeholder="eg-9810xxxxxx "
                  [(ngModel)]="obj.phone_no">

              </div>
              <div class="col-md-6 form-top-margin">
                <label for="dob"> Date Of Birth</label>
                <input type="date" name="dob" id="dob" class="form-control" [(ngModel)]="obj.date_of_birth">

              </div>
              <div class="col-md-6 form-top-margin">
                <label for="lcn">License Number</label>
                <input type="number" name="lcn" id="lcn" class="form-control" placeholder="eg:111-xxx-xxx-xx"
                  [(ngModel)]="obj.license_no">

              </div>

            </div>

          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary waves-effect">Add Driver</button>
          <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">CLOSE</button>
        </div>
      </div>
    </form>
  </div>
</div>
<!--Hello View Section-->

<div class="body">

  <div class="content-wrapper">
    <div class="col-sm-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h4 class="panel-title">Manage Vehicle</h4>
        </div>
        <div class="panel-body">


          <div class="table-responsive">
            <!-- <div class="row">
              <div class="col-xs-6 col-md-6">
                <div class="input-group">
                  <input type="text" (keyup)='updateFilter($event)' class="form-control" placeholder="Enter Name" id="txtSearch" />
                  <div class="input-group-btn">
                    <button class="btn btn-primary" type="submit">
                      <span class="glyphicon glyphicon-search"></span>
                    </button>
                  </div>
                </div>
              </div>
            </div> -->
            <!-- <input type='text' style='padding:8px;margin:15px auto;width:30%;' placeholder='search with name'
                                (keyup)='updagitteFilter($event)'
                              /> -->
            <ngx-datatable class="material" [rows]="vehicles" [sortType]="'multi'" [columnMode]="'force'" [headerHeight]="50"
              [footerHeight]="50" [rowHeight]="'auto'" [limit]="10">

              <ngx-datatable-column name="ID" prop="id">
                <ng-template let-column="column" ngx-datatable-header-template>{{column.name}}</ng-template>
                <ng-template let-value="value" ngx-datatable-cell-template>{{value}}</ng-template>
              </ngx-datatable-column>

           

              <ngx-datatable-column name="Vehicle No" prop="vehicle_no">
                <ng-template let-column="column" ngx-datatable-header-template>{{column.name}}</ng-template>
                <ng-template let-value="value" ngx-datatable-cell-template>{{value}}</ng-template>
              </ngx-datatable-column>
              
              <ngx-datatable-column name="Driver" prop="driver">
                  <ng-template let-column="column" ngx-datatable-header-template>{{column.name}}</ng-template>
                  <ng-template let-value="value" ngx-datatable-cell-template>{{value}}</ng-template>
               </ngx-datatable-column>

              <ngx-datatable-column name="Actions" sortable="false" prop="id">
                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                  Manage
                </ng-template>

                <ng-template let-row="list" let-value="value" ngx-datatable-cell-template>
                  <!-- <a class="glyphicon glyphicon-eye-open" title="" href="#"><img src="" alt=""></a> -->
                  <!-- <a class="glyphicon glyphicon-trash left-icon" title="" href="#"><img
                      src="" alt=""></a> -->
                      <button class="glyphicon glyphicon-trash left-icon btn btn-danger" style="margin-left:35px;" (click)="vehicleDelete(value)"></button>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </div>
        </div>


      </div>
    </div>


  </div>

</div>