<div class="body">
  <div class="content-wrapper">
  	<div class="panel panel-primary">
      <div class="page-header">
        <div class="row">
            <div class="col-sm-12">
              <div class="card">          
  <div class="panel-body">
    <div class="col-sm-12">
       <div class="row">
    	<div class="col-md-3">
    		<h5>Fee Slip</h5>
    	</div>
    	<div class="col-md-6 col-md-offset-3">
    		<h5>Voucher NO:________</h5>
    	</div>
    </div>
    <hr>
  <div class="row">
  	<div class="col-md-3">
  		<img src="/../assets/images/65.jpg" alt="" align="left">
  	</div>
  	<div class="col-md-8 ">
  		<h1 >VETERANS ACADEMY HIGH SCHOOL</h1><br/>
  		<p>  Hamdard Housing Society, AirportRoadSukkur<br>
  			 Contact: 071-5816787-2345-3456789<br>
  			 Bank Details: Sindh Bank Ltd. Military Road Sukkur 
  		</p>
  	</div>
  </div><hr>

    <div class="row">
  		<div class="col-md-12 ">
  			<p>Student ID:___________________________ Session: ____________________________  Roll no:___________________________________<br>Name:____________________________________________________________<br> 
  			Class:____________    Payment Type:________________<br>
  			Fee Received Date:__________________  Shift:_____________
  			</p>
  		</div>
  </div><hr>

    <div class="row">
  	 <div class="col-md-12 ">
  		<table style="width:100%" >
          <tr>
             <th>Fee Term</th>
             <th>Particular</th> 
             <th>Late Fee</th>
             <th>Dues</th>
             <th>Paid</th>
          </tr>
          <tr>
            <td>March-2010</td>
            <td>Admission Fee</td> 
            <td>0</td>
            <td>1000</td>
            <td>2000</td>
         </tr>
          <tr>
            <td>April-2011</td>
            <td>Annual Fee</td> 
            <td>0</td>
            <td>2000</td>
            <td>5000</td>
          </tr>
          <tr>
          	<td>May-2012</td>
            <td>Monthly Fee</td> 
            <td>0</td>
            <td>4000</td>
            <td>6000</td>
          </tr>
          <tr>
          	<td></td>
          	<td></td>
          	<td>0</td>
            <td>4000</td>
            <td>6000</td>
          </tr>
        </table><hr>
        <div class="row">
  		<div class="col-md-12 ">
  			<p>
  				Total Late Fee:  RS 0<br>
  				Total Dues:  RS 3400<br>
  				Total Paid Amount: RS 4500<br>
  				Student Total Remaining Dues: RS 14500
  			</p>
  		</div>
  </div>
  	</div>
  </div>
            

          