<div class="panel panel-primary">
      <div class="panel-body" style="border:1px solid black;" >
        <div class="row-clearfix">
          <div class="col-md-3">
              <h4 class="voucher-header">Fee Slip</h4>
          </div>
          <div class="col-md-3 col-md-offset-6">
              <h4 class="voucher-header">Voucher No:________</h4>
          </div>
        </div>
        <hr>
        <div class="row-clearfix">
          <div class="col-md-3">
              <img src="/../assets/images/65.jpg" class="img-rounded" style="height: 130px;" >
          </div>
          <div class="col-md-9">
            <h3 >Veterans Academy High School </h3><br>
            <p style="margin-top:-25px;margin-left: 40px">Hamdard Housing Society, AirportRoadSukkur</p><br>
            <p style="margin-top:-25px;margin-left: 40px"><ins>Contact:</ins>082-560330,986765432</p><br>
            <p style="margin-top:-25px;margin-left: 40px"><ins>Bank Details:</ins>Sindh Bank Ltd , Military Road Sukkur</p><br>
          </div>
        </div>
        <hr/>
  <div class="row-clearfix">
    <div class="row">
  		<div class="col-md-6">
  			<p>Student ID:_________________ Session: _________ Roll no:__________<br>Name:____________________________________________________________<br> 
  			Class:______________________________    Payment Type:__________<br>
  			Fee Received Date:________________ Shift:___________________________
  			</p>
  		</div>
  </div><hr>
   
        <div class="row-clearfix">
            <table id="payment_statement">
              <tr>
                <th>Fee Term</th>
                <th>Particular</th> 
                <th>Late Fee</th>
                <th>Dues</th>
                <th>Paid</th>
              </tr>
            
            <tr >
                <td>March-2010</td>
                <td>Admission Fee</td> 
                <td>0</td>
                <td>1000</td>
                 <td>2000</td>
           </tr>

           <tr>
            <td>April-2011</td>
            <td>Annual Fee</td> 
            <td>0</td>
            <td>2000</td>
            <td>5000</td>
          </tr>

          <tr>
            <td>May-2012</td>
            <td>Monthly Fee</td> 
            <td>0</td>
            <td>4000</td>
            <td>6000</td>
          </tr>

          <tr>
            <td></td>
            <td></td>
            <td>0</td>
            <td>4000</td>
            <td>6000</td>
          </tr> 
              
            </table>
             <p>Total Late Fee: Rs 0<br>
             Total Dues: Rs 4100 <br>
             Total Paid Amount: Rs 3900 <br>
             Student Total Remaining Dues: Rs 14200</p>
        </div>
        <hr/>
           <h4 class="voucher-header" style="margin-left:10px;"> Paid Amounts In Word:Three Thousand nine hundred only</h4> 
        <hr/>
      </div>
    </div>
  </div>
  
  
  
  


       