<div class="body">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h1 class="panel-title">Marks Entry</h1>
    </div>
    <div class="panel-body">
      <div class="row clearfix">
        <!-- <div class="col-sm-6">
              <label for="term_name" class="label-control">Term Name</label>
              <input type="text" id="term_name" class="form-control" name="term_name" [(ngModel)]="_term.name"
                placeholder="Term Name">

            </div> -->
        <div class="col-md-3">
          <label for="course">Select Course</label>
          <select class="form-control" name="course" [(ngModel)]="selected_course" (change)="onChange()" >
            <option *ngFor="let c of _course " [ngValue]="c.id"> {{c.name}}</option>
           
          </select>
        </div>
        <div class="col-md-3">
          <label for="class">Select class</label>
          <select class="form-control" name="class" [(ngModel)]="selected_class"(change)="onChange()">
            <option *ngFor="let cls of class" [ngValue]="cls.id"> {{cls.name}}</option>
         
          </select>
        </div>
        <div class="col-md-3">
          <label for="section" [(ngModel)]="selected_section"(change)="onChange()">Select Section</label>
          <select class="form-control" name="section">
              <option *ngFor="let sec of _section" [ngValue]="sec.id"> {{sec.name}}</option>
          </select>
        </div>
        <div class="col-md-3">
          <label for="subject">Select Subject</label>
          <select class="form-control" name="subject">
            <option value="1"> Hign School</option>
            <option value="1"> Primary School</option>
          </select>
        </div>
        <div class="col-md-3 form-top-margin">
          <label for="exam">Select Exam</label>
          <select class="form-control" name="exam">
            <option value="1"> Hign School</option>
            <option value="1"> Primary School</option>
          </select>
        </div>
        <div class="col-md-6 form-top-margin-button">
            <button class="btn btn-primary" (click)="marksEntryNext()">Next</button>
        </div>
        <div *ngIf="val==true">
          <div class="col-md-12">
           
              <form class="marks-entry">
                  <div class="col-md-3">
                      <label for="fm">Full Marks</label>
                     <input type="text" class="form-control" id="fm">
                    </div>

                    <div class="col-md-3">
                        <label for="fmt">Full Marks(T.H)</label>
                       <input type="text" class="form-control" id="fmt">
                    </div>
                    <div class="col-md-3">
                        <label for="fmp">Full Marks(P.R)</label>
                       <input type="text" class="form-control" id="fmp">
                    </div>
                    <div class="col-md-3">
                        <label for="pm">Pass Marks</label>
                       <input type="text" class="form-control" id="pm">
                    </div>
                  
                    <div class="col-md-3 form-top-margin">
                        <label for="pmt">Pass Marks(T.H)</label>
                       <input type="text" class="form-control" id="pmt">
                    </div>
                       
                    <div class="col-md-3 form-top-margin">
                        <label for="pmp">Pass Marks(P.R)</label>
                       <input type="text" class="form-control" id="pmp">
                    </div>
                    <div class="col-md-3 form-top-margin-button">
                        <button class="btn btn-primary" (click)="loadBodyData()">Display</button>
                    </div>
              </form>
            
          </div>
        </div>
      </div>
      <div *ngIf="val1==true">
        <div class="body form-top-margin">
          <div class="table-responsive">
            <div>
              <!-- <div class="row">
                <label class="control-label col-sm-1">Search Student</label>
                <div class="col-xs-6 col-md-4">
                  <div class="input-group">
                    <input type="text" (keyup)='updateFilter($event)' class="form-control" placeholder="Enter Name" id="txtSearch" />
                    <div class="input-group-btn">
                      <button class="btn btn-primary" type="submit">
                        <span class="glyphicon glyphicon-search"></span>
                      </button>
                    </div>
                  </div>
                </div>
              </div> -->
              <input type='text' style='padding:8px;margin:15px auto;width:30%;' placeholder='search with name'
                                (keyup)='updateFilter($event)'
                              />
              <ngx-datatable class="material" [rows]="rows" [sortType]="'multi'" [columnMode]="'force'" [headerHeight]="50"
                [footerHeight]="50" [rowHeight]="'auto'" [limit]="10">

                <ngx-datatable-column name="ID" prop="id">
                  <ng-template let-column="column" ngx-datatable-header-template>{{column.name}}</ng-template>
                  <ng-template let-value="value" ngx-datatable-cell-template>{{value}}</ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Name" prop="name">
                  <ng-template let-column="column" ngx-datatable-header-template>{{column.name}}</ng-template>
                  <ng-template let-value="value" ngx-datatable-cell-template>{{value}}</ng-template>
                </ngx-datatable-column> 

                <ngx-datatable-column name="TH" prop="th">
                  <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                    <span
                      title="Double click to edit"
                      (dblclick)="editing[rowIndex + '-th'] = true"
                      *ngIf="!editing[rowIndex + '-th']">
                      {{value}}
                    </span>
                    <input
                      autofocus
                      (blur)="updateValue($event, 'th', rowIndex)"
                      *ngIf="editing[rowIndex+ '-th']"
                      type="text"
                      [value]="value"
                    />
                  </ng-template>
                </ngx-datatable-column>

              <!-- <ngx-datatable-column name="TH" prop="th">
                  <ng-template let-column="column" ngx-datatable-header-template>{{column.name}}</ng-template>
                  <ng-template let-value="value" ngx-datatable-cell-template>{{value}}</ng-template>
                </ngx-datatable-column> -->

                <ngx-datatable-column name="PR" prop="pr">
                  <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                    <span
                      title="Double click to edit"
                      (dblclick)="editing[rowIndex + '-pr'] = true"
                      *ngIf="!editing[rowIndex + '-pr']">
                      {{value}}
                    </span>
                    <input
                      autofocus
                      (blur)="updateValue($event, 'pr', rowIndex)"
                      *ngIf="editing[rowIndex+ '-pr']"
                      type="text"
                      [value]="value"
                    />
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Total" prop="total">
                  <ng-template let-column="column" ngx-datatable-header-template>{{column.name}}</ng-template>
                  <ng-template let-value="value" ngx-datatable-cell-template>{{value}}</ng-template>
                </ngx-datatable-column>
                
                <ngx-datatable-column name="Result" prop="result">
                  <ng-template let-column="column" ngx-datatable-header-template>{{column.name}}</ng-template>
                  <ng-template let-value="value" ngx-datatable-cell-template>{{value}}</ng-template>
                </ngx-datatable-column>

                <!-- <ngx-datatable-column name="Actions" sortable="false" prop="id">
                  <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                    Manage
                  </ng-template>
                  <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <a class="glyphicon glyphicon-eye-open" title="" href="/student/detail/{{value}}"><img src="" alt=""></a>
                    <a class="glyphicon glyphicon-trash left-icon" title="" href="/student/delete/{{value}}"><img src="" alt=""></a>
                  </ng-template>
                </ngx-datatable-column>  -->
              </ngx-datatable>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="panel-footer">
      <button type="submit" class="btn btn-primary">Save Marks</button>
    </div>
  </div>
</div>
