.certificate-border{
    width:800px; 
    height:600px; 
    padding:20px; 
    text-align:center; 
    border: 10px solid #787878
}
.second-border{
    width:750px;
    height:550px; 
    padding:20px; 
    text-align:center; 
    border: 5px solid #787878
}
.header-text{
    font-size:50px;
    font-family: 'Lobster', cursive; 
    font-weight:bold
}
.para-text{
    font-size: 25px;
}
.s-no{
    margin-left: 0%
}
.name{
  font-size: 30px;
}
.signature-left{
    text-align: left;
    margin-left: 0px;
}
/* Styles for Marksheet start */
.top-margin{
    margin-top: -22px;
}
.top-margin-sign{
    margin-top: 40px;
}
.margin-sign{
    margin-top: -20px;
}



/* Styles for Marksheet end */

/* Table Styles start */
table {
    margin-top: 43px;
    empty-cells: show;
    border: 1px solid #000;
}

table td,
table th {
    height: 40px;
    min-width: 2em;
    min-height: 2em;
    text-align: center;
    border: 1px solid #000;
}
/* Table Styles end */


