.img  {
    width: 1%;
    min-width: 100px;
   /* margin-top:2%;*/
}
table {
    margin-top: 1%;
    empty-cells: show;
    border: 1px solid #000;
    margin-bottom: 5%;
    margin-left: 2%;

}

table td,
table th {
    height: 40px;
    min-width: 3em;
    min-height: 2em;
    /*text-align: center;*/
    border: 1px solid #000;


}