
.img  {
    width: 1%;
    min-width: 100px;
   /* margin-top:2%;*/
}

table {
    margin-top: 1%;
    empty-cells: show;
    border: 1px solid #000;
    margin-bottom: 5%;
    margin-left: 2%;

}

table td,
table th {
    height: 40px;
    min-width: 3em;
    min-height: 2em;
    text-align: center;
    border: 1px solid #000;
   
}

.td{
        line-height: 2.42857143;
}


.panel-title{
	/*text-align: center;*/
     position: relative;
    min-height: 120px;
   padding-right: 1px;
   padding-left: 1px; 

}

.pa{
	right:3%;
}
.right-top-mrgn {
    text-align:center;
    padding: 1%;
     margin: -16px;
     margin-top: 15px;
}


.prgh{
	left:70%;
  
}
 .p {
    margin: 2px;
    right:3%;
    left:30%;
}

 .panel-body {
    padding: 1px;
}
