/*.body {

 background-color:#e4e4e4;
  }*/

.navbar-brand b {
	font-family: sans-serif;
    font-size: 25px;
}

.panel {
    margin-bottom: 20px;
    border-color: #ddd;
    color: #333;
}

.media-left, .media>.pull-left {
    padding-right: 20px;
}
.media-left, .media-right, .media-body {
    position: relative;
}

.left-icon{
    margin-left: 7px;
}
.form-top-margin{
    margin-top: 15px;
}
.form-top-margin-button{
    margin-top: 40px;
}

.marks-entry{
    margin-top: 15px;
    margin-left: -10px;
}



.datatable-col-id {
    width:5px !important;
}

.body-left-margin{
    margin-left: -38px;
}