<div class="body">
  <div class="content-wrapper">
    <form ngNativeValidate (ngSubmit)="OnSubmitStore()" #storeForm="ngForm">
      <div class="col-sm-12">
        <div class="panel panel-primary">
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
             <a href="#add_inventory" data-toggle="tab">
               <i class="material-icons">list</i> Add Inventory Item
             </a>
           </li>
         <li role="presentation">
          <a href="#inventory_list" data-toggle="tab">
            <i class="material-icons">list</i> Inventory List
          </a>
         </li>
      </ul>
      <br>
        <div class="tab-content" >
          <div  class="tab-pane fade in active" id="add_inventory" >
             <div class="panel panel-primary">
              <div class="panel-heading">
                <h4 class="panel-title">Add Inventory Item</h4>
              </div>
            </div>    
          <!-- <div class="panel-heading">
              <h4 class="panel-title">Add  Inventory Item</h4>
          </div> -->
     
       <div class="body">
          <div class="row clearfix">
                 <div class="col-md-6 ">
                    <label for="store" class="req">Vendor</label>
                      <select class="form-control"  [(ngModel)]="selected_vendor" name="vendor" required>
                          <option *ngFor="let v of _vendor" [ngValue]="v.id">{{v.name}}</option>
                      </select>
                  </div>

              <div class="col-md-4">
                <button type="button" class="btn btn-primary waves-effect" data-toggle="modal" data-target="#smallModal"
                  style="margin-top:23px;margin-left: -23px;">+Add Vendors</button>
              </div>
        
            <div class="col-md-6 form-top-margin"  style="margin-left:1px;">
                  <label for="category">Category</label>
                     <select class="form-control"  [(ngModel)]="selected_category" name="category" required>
                          <option *ngFor="let c of _category" [ngValue]="c.id">{{c.name}}</option>
                      </select>
            </div>

            <div class="col-md-4 form-top-margin">
                <button type="button" class="btn btn-primary waves-effect" data-toggle="modal" data-target="#smallModal1"
                  style="margin-top:23px;margin-left: -23px;">+Add Category</button>
              </div>
             
               <div class="col-md-6 form-top-margin">
                  <label for="item_name"> Item Name</label>
                     <input type="text" class="form-control" [(ngModel)]="_inventory_item.item_name"  name="item_name"   placeholder="Enter  item name" required>
               </div>
        
            <div class="col-md-6 form-top-margin">
                <label for="reg_input" class="req">Quantity</label>
                   <input type="text" class="form-control" [(ngModel)]="_inventory_item.quantity"  name="quantity"   placeholder="Enter quantity" required>
            </div>
         
            <div class="col-md-6 form-top-margin">
                  <label for="reg_input" class="req">Discount</label>
                      <input type="text" class="form-control" [(ngModel)]="_inventory_item.discount"  name="discount"   placeholder="Enter discount" required>
            </div>
        
          
            <div class="col-md-6 form-top-margin">
                <label for="rate">Rate</label>
                     <input type="number" class="form-control" [(ngModel)]="_inventory_item.rate"  name="rate"   placeholder="" required>
            </div>
        </div>
      </div>
     
          <div class="panel-footer">
            <button class="btn btn-primary btn-lg" type="Submit"><b>Save</b></button>
         </div>
     </div>

<div class="modal fade" id="smallModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <form ngNativeValidate (ngSubmit)="onSubmitVendor()" #vendorForm="ngForm">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="smallModalLabel">Add Vendor</h4>
        </div>
        <div class="modal-body">
          <div class="panel-body">
            <div class="row clearfix">
              <div class="col-md-6">
                <label for="company_name">Company Name</label>
                <input type="text" name="company_name"  class="form-control" [(ngModel)]="obj.name" placeholder=" Company Name">
              </div>

              <div class="col-md-6 ">
                <label for="description">Description </label>
                <input type="text" name="description" class="form-control" placeholder="" [(ngModel)]="obj.description">
              </div>
          
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary waves-effect">Add Vendor</button>
          <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">CLOSE</button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="modal fade" id="smallModal1" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <form ngNativeValidate (ngSubmit)="onSubmitCategory()" #categoryForm="ngForm">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="smallModalLabel">Add Category</h4>
        </div>
        <div class="modal-body">
          <div class="panel-body">
            <div class="row clearfix">
              <div class="col-md-6">
                <label for="name">Name</label>
                <input type="text" name="name"  class="form-control" [(ngModel)]="objs.name" placeholder=" Enter Name">
              </div>

              <div class="col-md-6">
                <label for="description">Description</label>
                <input type="text" name="description"  class="form-control" [(ngModel)]="objs.description" placeholder=" ">
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary waves-effect">Add Category</button>
          <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">CLOSE</button>
        </div>
      </div>
    </form>
  </div>
</div>


<div role="tabpanel" class="tab-pane fade" id="inventory_list">  
 <div class="form-group">
  <div class="row">
   <div class="col-sm-12"> 
     <div class="panel panel-primary">
       <div class="panel-heading" > 
          <h4 class="panel-title">Inventory List</h4>
        </div>

        <div class="panel-body">
         <div class="table-responsive">                       
           <div class="col-xs-6 col-md-6">
              <div class="input-group">
                   <input type="text" (keyup)='updateFilter($event)' class="form-control" placeholder="Enter Name" id="txtSearch" />
                    <div class="input-group-btn">
                      <button class="btn btn-primary" type="submit">
                        <span class="glyphicon glyphicon-search"></span>
                      </button>
                    </div>
              </div>  
                <label for="reg_no"></label>
                  <select class="form-control" name="Inventoryitem[vendorsid]" id="Inventoryitem_vendorsid">
                    <option value="">Select</option>
                    <option value="1">All Products</option>
                    <option value="2">Categorywise</option>
                 </select>
                </div>
              </div>
      
              <ngx-datatable class="material" [rows]="inventors" [sortType]="'multi'" [columnMode]="'force'" [headerHeight]="50"
                [footerHeight]="50" [rowHeight]="'auto'" [limit]="10">

                <ngx-datatable-column name="ID" prop="id">
                  <ng-template let-column="column" ngx-datatable-header-template>{{column.name}}</ng-template>
                  <ng-template let-value="value" ngx-datatable-cell-template>{{value}}</ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name=" Vendor" prop="vendor">
                  <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                    <span
                      title="Double click to edit"
                      (dblclick)="editing[rowIndex + '-name'] = true"
                      *ngIf="!editing[rowIndex + '-name']">
                      {{value}}
                    </span>
                    <input
                      autofocus
                      (blur)="updateValue($event, 'name', rowIndex)"
                      *ngIf="editing[rowIndex+ '-name']"
                      type="text"
                      [value]="value"
                    />
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name=" Inventory Item " prop="inventory_item">
                  <ng-template let-column="column" ngx-datatable-header-template>{{column.name}}</ng-template>
                  <ng-template let-value="value" ngx-datatable-cell-template>{{value}}</ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name=" Quantity " prop="quantity">
                  <ng-template let-column="column" ngx-datatable-header-template>{{column.name}}</ng-template>
                  <ng-template let-value="value" ngx-datatable-cell-template>{{value}}</ng-template>
                </ngx-datatable-column>
 
                <ngx-datatable-column name="Actions" sortable="false" prop="id">
                  <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                    Manage
                  </ng-template>
                  <ng-template let-row="inventors" let-value="value" ngx-datatable-cell-template>
                    <a class="glyphicon glyphicon-eye-open  btn btn-primary" style=" margin-left:-10px;" title="" href="/store/edit-store/{{value}}"><img src="" alt=""></a>
                     <a class="glyphicon glyphicon-trash left-icon" title="" href="/store/inventory-item/delete/{{value}}"><img src="" alt=""></a>
                     <button class="glyphicon glyphicon-trash left-icon btn btn-danger" style="margin-left:0.01px;" (click)="deleteStore(value)"></button>
                  </ng-template>
                </ngx-datatable-column>
              </ngx-datatable>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>











    


       

 