<div class="body">
  <div class="content-wrapper">
    <form ngNativeValidate (ngSubmit)="OnSubmitStore()" #storeForm="ngForm">
      <div class="col-sm-6">
        <div class="panel panel-primary">
          <div class="panel-heading">
              <h4 class="panel-title">Add  Inventory Item</h4>
          </div>
        </div>
       <div class="body">
          <div class="row clearfix">
                 <div class="col-md-6 ">
                    <label for="store" class="req">Vendors</label>
                      <select name="store" class="form-control" [(ngModel)]="_inventory_item.vendors" required>
                      <option  value="0" selected="selected">Select Vendors </option>
					  <option value="1">Initial Stock</option>
					  <option value="2">Classmate2 - Admin</option>
					  <option value="3">webschool - Bashyam Public school</option>
					 <option value="4">test - Alexa abc</option>
					 <option value="5">SSPF - Stefun</option>
					 <option value="6">TESTing - mick</option>
					 <option value="7">Rawat - Hitesh</option>
					 <option value="8">Modern  - Hitesh</option>
                  </select>
              </div>
        
            <div class="col-md-6">
                  <label for="category">Category</label>
                    <select class="form-control" name="category" [(ngModel)]="_inventory_item.category" reqiured>
                       <option value="0" selected="selected">Please Select</option>
                       <option value="1">Books</option>
                       <option value="2">Demo</option>
                       <option value="3">Year Book</option>
                       <option value="4">Food</option>
                       <option value="5">Book</option>
                       <option value="6">Computer</option>
                   </select>
           </div>

             
               <div class="col-md-6 form-top-margin">
                  <label for="inventory_item">Inventory Item</label>
                     <input type="text" class="form-control" [(ngModel)]="_inventory_item.inventory_item"  name="inventory_item"   placeholder="Enter inventory item" required>
               </div>
        
            <div class="col-md-6 form-top-margin">
                <label for="reg_input" class="req">Quantity</label>
                   <input type="text" class="form-control" [(ngModel)]="_inventory_item.quantity"  name="quantity"   placeholder="Enter quantity" required>
            </div>
         
              <div class="col-md-6 form-top-margin">
                  <label for="reg_input" class="req">Discount</label>
                      <input type="text" class="form-control" [(ngModel)]="_inventory_item.discount"  name="discount"   placeholder="Enter discount" required>
                    </div>
        
         
              <div class="col-md-6 form-top-margin">
                <label for="mrp">MRP</label>
                     <input type="number" class="form-control" [(ngModel)]="_inventory_item.mrp"  name="mrp"   placeholder="" required>
            </div>
          
              <div class="col-md-6 form-top-margin">
                <label for="rate">Rate</label>
                     <input type="number" class="form-control" [(ngModel)]="_inventory_item.rate"  name="rate"   placeholder="" required>
               </div>
           </div>
       </div>
     
          <div class="panel-footer">
            <button class="btn btn-primary btn-lg" type="Submit"><b>Save</b></button>
         </div>
     </div>



<div class="body">
  <div class="content-wrapper">           
    <div class="col-sm-6"> 
      <div class="panel panel-primary">
        <div class="panel-heading">    
         <h4 class="panel-title">Search Vendors</h4>
        </div>
        <div class="panel-body">
       <div class="table-responsive">                       
               <div class="col-xs-6 col-md-6">
                  <div class="input-group">
                    <input type="text" (keyup)='updateFilter($event)' class="form-control" placeholder="Enter Name" id="txtSearch" />
                    <div class="input-group-btn">
                      <button class="btn btn-primary" type="submit">
                        <span class="glyphicon glyphicon-search"></span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
         
              <ngx-datatable class="material" [rows]="inventors" [sortType]="'multi'" [columnMode]="'force'" [headerHeight]="50"
                [footerHeight]="50" [rowHeight]="'auto'" [limit]="10">

                <ngx-datatable-column name="ID" prop="id">
                  <ng-template let-column="column" ngx-datatable-header-template>{{column.name}}</ng-template>
                  <ng-template let-value="value" ngx-datatable-cell-template>{{value}}</ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name=" Vendor" prop="vendor">
                  <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                    <span
                      title="Double click to edit"
                      (dblclick)="editing[rowIndex + '-name'] = true"
                      *ngIf="!editing[rowIndex + '-name']">
                      {{value}}
                    </span>
                    <input
                      autofocus
                      (blur)="updateValue($event, 'name', rowIndex)"
                      *ngIf="editing[rowIndex+ '-name']"
                      type="text"
                      [value]="value"
                    />
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name=" Inventory Item " prop="inventory_item">
                  <ng-template let-column="column" ngx-datatable-header-template>{{column.name}}</ng-template>
                  <ng-template let-value="value" ngx-datatable-cell-template>{{value}}</ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name=" Quantity " prop="quantity">
                  <ng-template let-column="column" ngx-datatable-header-template>{{column.name}}</ng-template>
                  <ng-template let-value="value" ngx-datatable-cell-template>{{value}}</ng-template>
                </ngx-datatable-column>
 
                <ngx-datatable-column name="Actions" sortable="false" prop="id">
                  <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                    Manage
                  </ng-template>
                  <ng-template let-row="inventors" let-value="value" ngx-datatable-cell-template>
                    <a class="glyphicon glyphicon-eye-open  btn btn-primary" style=" margin-left:-10px;" title="" href="/store/edit-store/{{value}}"><img src="" alt=""></a>
                     <a class="glyphicon glyphicon-trash left-icon" title="" href="/store/inventory-item/delete/{{value}}"><img src="" alt=""></a>
                     <button class="glyphicon glyphicon-trash left-icon btn btn-danger" style="margin-left:0.01px;" (click)="deleteStore(value)"></button>
                  </ng-template>
                </ngx-datatable-column>
              </ngx-datatable>
            </div>
          </div>
        </div>
      </div>
  </div>









    


       

 