<!-- #Top Bar -->
<section>
  <!-- Left Sidebar -->
  <aside id="leftsidebar" class="sidebar" height="900px">
    <!-- User Info -->
    <div class="user-info">
      <div class="image">
        <img src="assets/images/user.png" width="48" height="48" alt="User" />
      </div>
      <div class="info-container">
        <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Admin</div>
        <div class="email">BTech School</div>
        <div class="btn-group user-helper-dropdown">
          <i class="material-icons" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">keyboard_arrow_down</i>
          <ul class="dropdown-menu pull-right">
            <li><a href="javascript:void(0);"><i class="material-icons">person</i>Profile</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="javascript:void(0);"><i class="material-icons">group</i>Followers</a></li>
            <li><a href="javascript:void(0);"><i class="material-icons">shopping_cart</i>Sales</a></li>
            <li><a href="javascript:void(0);"><i class="material-icons">favorite</i>Likes</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="javascript:void(0);"><i class="material-icons">input</i>Sign Out</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!-- #User Info -->
    <!-- Menu -->
    <div class="menu">
      <ul class="list" style="height: 900px;">
        <li class="header">MAIN NAVIGATION</li>
        <li class="active">
          <a routerLink="/">
            <i class="material-icons">home</i>
            <span>Home</span>
          </a>
        </li>
        <!--  <li>
                        <a routerLink="/student" class="menu-toggle">
                            <i class="material-icons">person_pin</i>
                            <span>Student</span>
                        </a>
                         <ul class="ml-menu">
                             <li>
                                <a routerLink="/student/add">
                                    <span>Add</span>
                                </a> 
                            </li>
                            <li>
                                <a routerLink="/student/list">
                                    <span>List</span>
                                </a> 
                            </li>
                            
                        </ul>
                    </li>
                    <li>
                        <a routerLink="/login" class="menu-toggle">
                            <i class="material-icons">person_pin</i>
                            <span>Login</span>
                        </a>
                         <ul class="ml-menu">
                             <li>
                                <a routerLink="/login/login">
                                    <span>Login</span>
                                </a> 
                            </li>
                           
                        </ul>
                    </li>
 -->


        <li>
          <a class="menu-toggle">
            <i class="material-icons">perm_identity</i>
            <span>Student</span>
          </a>
          <ul class="ml-menu">
            <li>
              <a routerLink="/student/add">
                <span>Add</span>
              </a>
            </li>
            <li>
              <a routerLink="/student/list">
                <span>List</span>
              </a>
            </li>
            <li>
              <a routerLink="/student/attendence">
                <span>Attendence</span>
              </a>
            </li>
            <li>
              <a routerLink="/student/idcard">
                <span> Student Idcard</span>
              </a>
            </li>

          </ul>
        </li>

        <li>
          <a class="menu-toggle">
            <i class="material-icons">person_pin</i>
            <span>Teacher</span>
          </a>
          <ul class="ml-menu">
            <li>
              <a routerLink="/teacher/add">
                <span>Add</span>
              </a>
            </li>
            <li>
              <a routerLink="/teacher/list">
                <span>List</span>
              </a>
            </li>
            <li>
              <a routerLink="/teacher/idcard">
                <span>Teacher ID Card</span>
              </a>
            </li>
          </ul>
        </li>

        <!-- <li>
          <a class="menu-toggle">
            <i class="material-icons">people</i>
            <span>Guardian</span>
          </a>
          <ul class="ml-menu">
            <li>
              <a routerLink="/guardian/add">
                <span>Add</span>
              </a>
            </li>
            <li>
              <a routerLink="/guardian/list">
                <span>List</span>
              </a>
            </li>
          </ul>
        </li> -->

        <li>
          <a class="menu-toggle">
            <i class="material-icons">class</i>
            <span>Class</span>
          </a>
          <ul class="ml-menu">
            <li>
              <a routerLink="/class/add-class">
                <span>Add Class</span>
              </a>
            </li>
            <li>
              <a routerLink="/class/add-section">
                <span>Add Section</span>
              </a>
            </li>

            <li>
              <a routerLink="/class/add-batch">
                <span>Add Batch</span>
              </a>
            </li>

            <li>
              <a routerLink="/class/add-course">
                <span>Add Course</span>
              </a>
            </li>
          </ul>
        </li>


        <li>
          <a class="menu-toggle">
            <i class="material-icons">how_to_reg</i>
            <span>Academic</span>
          </a>

                        <ul class="ml-menu">
                             <li>
                                   <a routerLink="/academic/certification">
                                       <span>Certifications</span>
                                   </a> 
                               </li>
                             <li>
                                <a class="menu-toggle" routerLink="/academic/timetable">
                                    <span>Time Table</span>
                                </a>
                                <ul class = "ml-menu">
                                    <li>
                                        <a routerLink = "/academic/timetable/add-timetable">Add </a>
                                    </li>
                                </ul>
                                
                            </li>
                            
                            
                        </ul>
                        

        </li>


        <li>
          <a class="menu-toggle">
            <i class="material-icons">local_library</i>
            <span>Library</span>
          </a>

          <ul class="ml-menu">
            <li>
              <a routerLink="/library/add-category">
                <span>Add Category</span>
              </a>
            </li>

            <li>
              <a routerLink="/library/add-book">
                <span>Add Book</span>
              </a>
            </li>

            <li>
              <a routerLink="/library/issue-book">
                <span>Issue Book</span>
              </a>
            </li>
          </ul>


        </li>


        <li>
          <a class="menu-toggle">
            <i class="material-icons">account_balance</i>
            <span>Accounting</span>
          </a>
        </li>
        <li>
          <a class="menu-toggle">
            <i class="material-icons">report</i>
            <span>Reports</span>
          </a>
        </li>
        <li>
          <a class="menu-toggle">
            <i class="material-icons">event</i>
            <span>Events</span>
          </a>
        </li>
        <li>
          <a class="menu-toggle">
            <i class="material-icons">settings</i>
            <span>Settings</span>
          </a>
          <ul class="ml-menu">
            <li>
              <a routerLink="/setting/academic_year">
                <span>Academic Year</span>
              </a>
            </li>
            </ul>
        </li>