<!-- #Top Bar -->
    <section>
        <!-- Left Sidebar -->
        <aside id="leftsidebar" class="sidebar" height="900px">
            <!-- User Info -->
            <div class="user-info">
                <div class="image">
                    <img src="assets/images/user.png" width="48" height="48" alt="User" />
                </div>
                <div class="info-container">
                    <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">BTech</div>
                    <div class="email">ab@belwasetech.com</div>
                    <div class="btn-group user-helper-dropdown">
                        <i class="material-icons" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">keyboard_arrow_down</i>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="javascript:void(0);"><i class="material-icons">person</i>Profile</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="javascript:void(0);"><i class="material-icons">group</i>Followers</a></li>
                            <li><a href="javascript:void(0);"><i class="material-icons">shopping_cart</i>Sales</a></li>
                            <li><a href="javascript:void(0);"><i class="material-icons">favorite</i>Likes</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="javascript:void(0);"><i class="material-icons">input</i>Sign Out</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- #User Info -->
            <!-- Menu -->
            <div class="menu">
                <ul class="list" style="height: 900px;" >
                    <li class="header">MAIN NAVIGATION</li>
                    <li class="active">
                        <a routerLink="/">
                            <i class="material-icons">home</i>
                            <span>Home</span>
                        </a>
                    </li>
                   <!--  <li>
                        <a routerLink="/student" class="menu-toggle">
                            <i class="material-icons">person_pin</i>
                            <span>Student</span>
                        </a>
                         <ul class="ml-menu">
                             <li>
                                <a routerLink="/student/add">
                                    <span>Add</span>
                                </a> 
                            </li>
                            <li>
                                <a routerLink="/student/list">
                                    <span>List</span>
                                </a> 
                            </li>
                            
                        </ul>
                    </li>
                    <li>
                        <a routerLink="/login" class="menu-toggle">
                            <i class="material-icons">person_pin</i>
                            <span>Login</span>
                        </a>
                         <ul class="ml-menu">
                             <li>
                                <a routerLink="/login/login">
                                    <span>Login</span>
                                </a> 
                            </li>
                           
                        </ul>
                    </li>
 -->

                     <li>
                        <a class="menu-toggle">
                            <i class="material-icons">person_pin</i>
                            <span>Modules</span>
                        </a>
                         <ul class="ml-menu">

                            <!--  <li>
                                <a routerLink="/accounting/Dashboard">
                                    <span>Dashboard</span>
                                </a> 
                            </li> -->


                            <li>
                                <a routerLink="/accounting/class">
                                    <span>Class</span>
                                </a>
                            </li>

                            <li>
                                <a routerLink="/accounting/section">
                                    <span>Section</span>
                                </a>
                            </li>

                             
                            <li>
                                <a routerLink="/accounting/add-student/">
                                    <span>Add Student</span>
                                </a>
                            </li>

                            <li>
                                <a routerLink="/accounting/course/">
                                    <span>Course</span>
                                </a>
                            </li>

                         <li>
                                <a routerLink="/accounting/subject/">
                                    <span>Subject</span>
                                </a>
                            </li>
                           
                        </ul>
                    </li>
                    
                   <!-- <li>
                        <a routerLink="/parent" class="menu-toggle">
                            <i class="material-icons">person_pin</i>
                            <span>Parent</span>
                        </a>
                         <ul class="ml-menu">
                             <li>
                                <a routerLink="/parent/add">
                                    <span>Add</span>
                                </a> 
                            </li>
                            <li>
                                <a routerLink="/parent/list">
                                    <span>List</span>
                                </a> 
                            </li>
                            
                        </ul>
                    </li>

                    <li>
                        <a routerLink="/teacher" class="menu-toggle">
                            <i class="material-icons">person_pin</i>
                            <span>Teacher</span>
                        </a>
                         <ul class="ml-menu">
                             <li>
                                <a routerLink="/teacher/add">
                                    <span>Add</span>
                                </a> 
                            </li>
                            <li>
                                <a routerLink="/teacher/list">
                                    <span>List</span>
                                </a> 
                            </li>
                </ul>
           
                    <li>
                        <a routerLink="/subject" class="menu-toggle">
                            <i class="material-icons">person_pin</i>
                            <span>Subject</span>
                        </a>
                         <ul class="ml-menu">
                             <li>
                                <a routerLink="/subject/add">
                                    <span>Add</span>
                                </a> 
                            </li>
                           
                        </ul>
                    </li>


                    <li>
                        <a routerLink="/transport" class="menu-toggle">
                            <i class="material-icons">person_pin</i>
                            <span>Transport</span>
                        </a>
                         <ul class="ml-menu">
                             <li>
                                <a routerLink="/transport/add">
                                    <span>Add</span>
                                </a> 
                            </li>
                            
                        </ul>
                    </li>

                     <li>
                        <a routerLink="/library" class="menu-toggle">
                            <i class="material-icons">person_pin</i>
                            <span>Library</span>
                        </a>
                         <ul class="ml-menu">
                             <li>
                                <a routerLink="/library/add-book">
                                    <span>Add Books</span>
                                </a> 
                            </li>
                           
                        </ul>
                    </li>
 -->















                    
           
           

       