<div class="body">
 <div class="content-wrapper">
    <div class="content">
      <div class="page-header">
        <ol class="breadcrumb breadcrumb">
                                <li><a href="javascript:void(0);"><i class="material-icons">home</i> Home</a></li>
                                <li><a href="javascript:void(0);">Teacher</a></li>
                                <li><a href="javascript:void(0);">Teacher ID Card</a></li>
            </ol>

   <div class="row">
     <form ngNativeValidate (ngSubmit)="onSubmit()" #teacherForm="ngForm">
      <div class="col-sm-12">
          <div class="card">
                        <div class="header">
                            <h2>
                                <b>Teacher Id Card</b>
                            </h2>
                        </div>
                        <br>
   