<div class="body">
 <div class="content-wrapper">
    <div class="content">
      <div class="page-header">
         <ol class="breadcrumb breadcrumb" >
              <li><a href="#"><i class="material-icons">home</i> Home</a></li>
              <li><a href="#"><i class="material-icons">class</i>Settings</a></li>
              <li class="active">Institution Details</li>
           <ul class="breadcrumb-elements">                          
            </ul>
            <a class="breadcrumb-elements-toggle"><i class="icon-menu-open"></i></a><a class="breadcrumb-elements-toggle"><i class="icon-menu-open"></i></a>
            </ol> 
            </div>
          </div>

          
  <div class="body">
   <form (ngSubmit)="onSubmit()" #classForm="ngForm"> -->
        <div class="col-sm-12">
            <div class="panel panel-primary">
              <div class="panel-heading" >
                <h4 class="panel-title">Institution Details</h4>
              </div>
              <br> 
       
        <div class="panel-body">
        <div class="col-sm-8">
            <div class="panel panel-default">
              <div class="panel-heading" >
                <h4 class="panel-title">Profile Information</h4>
              </div>
              <br>

<div class="panel-body">
          <div class="row clearfix">
                  <div class="col-sm-6">
                        <label for="fee_category">Institution Name</label>
                    <input type= "text" class="form-control"  placeholder="Enter Institution Name" >
                            
                  </div>

                  <div class="col-sm-6">
                        <label for="fee_category">Institution Address</label>
                    <input type= "text" class="form-control"  placeholder="Enter Institution Details" >
                            
                  </div>
                </div>
             <br>
             <br>
              <div class="row clearfix">
                  <div class="col-sm-6">
                        <label for="fee_category">Institution Email</label>
                    <input type= "text" class="form-control"  placeholder="Enter Email Address" >
                            
                  </div>

                  <div class="col-sm-6">
                        <label for="fee_category">Institution Phone</label>
                    <input type= "text" class="form-control"  placeholder="Enter Phone Number" >
                            
                  </div>
                </div>
              </div>
              <div class="panel-body">
          <div class="form-group">
                  <button class="btn btn-primary btn-lg"  type="Submit"><b>Update</b></button>
              </div>
           </div>
          </div>
        </div>

        <div class="content-wrapper">           
    <div class="content">
 <div class="form-group">
    <div class="row">
    <div class="col-sm-4"> 
     <div class="panel panel-default">
             <div class="tie1">
                                 
                                  <img src="/../assets/images/01062018114152.png" alt="">
                                </div>
                                <div class="panel-body">
          <div class="form-group">
           <form action="/action_page.php">
  Select a file: <input type="file" name="myFile"><br><br>

</form>
<div class="panel-body">
    <div class="form-group">
            <button class="btn btn-info" style="background-color:#aabad8;" type="Submit"><b>Update Logo</b></button>
        </div>

    </div>
</div>
</div>
       



   