<div class="body">
 <div class="content-wrapper">
    <div class="content">
      <div class="page-header">
         <ol class="breadcrumb breadcrumb" >
              <li><a href="#"><i class="material-icons">home</i> Home</a></li>
              <li><a href="#"><i class="material-icons">class</i>Section </a></li>
              <li class="active"> Add Section</li>
           <ul class="breadcrumb-elements">                          
            </ul>
            <a class="breadcrumb-elements-toggle"><i class="icon-menu-open"></i></a><a class="breadcrumb-elements-toggle"><i class="icon-menu-open"></i></a>
            </ol> 

<div class="row">
  <form  ngNativeValidate (ngSubmit)="onSubmit()" #sectionForm="ngForm">
   <div class="col-sm-6">
            <div class="panel panel-primary">
              <div class="panel-heading" >
                <h4 class="panel-title">Add Section</h4>
              </div>

              <div class="panel-body">

                <div class="row clearfix">
                <div class="col-sm-6">
                  <label for="course">Select Course</label>
                  <select class="form-control"  (ngModelChange)="onCourseChange($event)" [(ngModel)]="selected_course" name="course" required>
                  <option *ngFor="let c of courses" [ngValue]="c.id">{{c.name}}</option>
                  </select>

                </div>
              </div>

                <div class="row clearfix">
                        <div class="col-sm-6">
                              <label for="class">Select Class</label>
                              <select class="form-control"       
                             [(ngModel)]="selected_class" (ngModelChange)="onClassChange($event)"  name="class">
                              <option *ngFor="let c of classes" [ngValue]="c.id">{{c.name}}</option>
                              </select>
                        </div>
                </div>


                <div class="row clearfix">
                        <div class="col-sm-6">
                              <label for="section_name">Section Name</label>
                                 <input type="text" class="form-control" [(ngModel)]="section.name" name="name"  placeholder="Enter Section Name " required>
                        </div>
                    </div>
                    
                <div class="form-group">
                        <button class="btn btn-primary m-t-15"  type="Submit"><b>Add Section</b></button>
                </div>

              </div>
        </div>
      </div>

  </form>
      

 <div class="form-group">
    <div class="row">
    <div class="col-sm-6"> 
     <div class="panel panel-primary">
        <div class="panel-heading" > 
          <h4 class="panel-title">Sections</h4>
        </div>

        <div class="panel-body">                   
          <div class="table-responsive">                       
              <div class="row">              
                <div class="col-xs-6 col-md-6">
                  <div class="input-group">
                    <input type="text" (keyup)='updateFilter($event)' class="form-control" placeholder="Enter Name" id="txtSearch" />
                    <div class="input-group-btn">
                      <button class="btn btn-primary" type="submit">
                        <span class="glyphicon glyphicon-search"></span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
             
              <ngx-datatable class="material" [rows]="sections" [sortType]="'multi'" [columnMode]="'force'" [headerHeight]="50"
                [footerHeight]="50" [rowHeight]="'auto'" [limit]="10">

                <ngx-datatable-column name="ID" prop="id">
                  <ng-template let-column="column" ngx-datatable-header-template>{{column.name}}</ng-template>
                  <ng-template let-value="value" ngx-datatable-cell-template>{{value}}</ng-template>
                </ngx-datatable-column>

                <!-- <ngx-datatable-column name="Name" prop="user.first_name">
                  <ng-template let-column="column" ngx-datatable-header-template>{{column.name}}</ng-template>
                  <ng-template let-value="value" ngx-datatable-cell-template>{{value}}</ng-template>
                </ngx-datatable-column> -->
                <ngx-datatable-column name="Section" prop="name">
                  <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                    <span
                      title="Double click to edit"
                      (dblclick)="editing[rowIndex + '-name'] = true"
                      *ngIf="!editing[rowIndex + '-name']">
                      {{value}}
                    </span>
                    <input
                      autofocus
                      (blur)="updateValue($event, 'name', rowIndex)"
                      *ngIf="editing[rowIndex+ '-name']"
                      type="text"
                      [value]="value"
                    />
                  </ng-template>
                </ngx-datatable-column>


                <ngx-datatable-column name="Class" prop="_class">
                  <ng-template let-column="column" ngx-datatable-header-template>{{column.name}}</ng-template>
                  <ng-template let-value="value" ngx-datatable-cell-template>{{value}}</ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Actions" sortable="false" prop="id">
                  <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                    Manage
                  </ng-template>
                  <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    
                    <button class="glyphicon glyphicon-trash left-icon btn btn-danger" style="margin-left:35px;" (click)="sectionDelete(value)"></button>
                  </ng-template>
                </ngx-datatable-column>
              </ngx-datatable>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>








