<div class="container">
  <h1>Add New Parent</h1>
  <div class="row">
    <div class="col-md-6">
        <div class="input-group">
             <div class="col-sm-3">
               <div class="form-group">
                   <label for="email_address_2">Name</label>
                 </div>
               </div>
              <div class="col-md-9">
                  <div class="form-group">
                     <div class="form-line">
                         <input type="text" class="form-control"  name="text"  placeholder="Enter  Name" required>
                       </div>
                  </div>
             </div>
        </div>
    
    <div class="input-group">
           <div class="col-sm-3">
             <div class="form-group">
               <label for="email_address_2">Email Address</label>
             </div>
           </div>
         <div class="col-md-9">
                  <div class="form-group">
                     <div class="form-line">
                         <input type="text" class="form-control"  name="password" placeholder="Email address"required>
                       </div>
                  </div>
             </div>
        </div>

        <div class="input-group">
           <div class="col-sm-3">
             <div class="form-group">
               <label for="email_address_2">Password</label>
             </div>
           </div>
         <div class="col-md-9">
                  <div class="form-group">
                     <div class="form-line">
                         <input type="number" class="form-control"  name="password" placeholder=""required>
                       </div>
                  </div>
             </div>
        </div>
       
        <div class="input-group">
           <div class="col-sm-3">
             <div class="form-group">
               <label for="email_address_2">Address</label>
             </div>
           </div>
         <div class="col-md-9">
                  <div class="form-group">
                     <div class="form-line">
                         <input type="text" class="form-control"  name="address" required>
                       </div>
                  </div>
             </div>
           </div>

        <div class="input-group">
           <div class="col-sm-3">
             <div class="form-group">
               <label for="email_address_2">Contact number</label>
             </div>
           </div>
         <div class="col-md-9">
                  <div class="form-group">
                     <div class="form-line">
                         <input type="text" class="form-control"  name="password" placeholder="Enter Contact Number"required>
                       </div>
                  </div>
             </div>
        </div>

        <div class="input-group">
           <div class="col-sm-3">
             <div class="form-group">
               <label for="email_address_2">Profession</label>
             </div>
           </div>
         <div class="col-md-9">
                  <div class="form-group">
                     <div class="form-line">
                         <input type="text" class="form-control"  name="profession" required>
                       </div>
                  </div>
             </div>
        </div>
          <div class="input-group">
            <button type="Submit" class="btn btn-success" [disabled]="!parentForm.form.valid">Add Parent</button>
          </div>
      


      
