<div class="row">
<div class="input-group">
    <div class="container-fluid">
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card" style="min-height:800px;">
                        <div class="header">
                            <h2>
                                <b>Create Student Payment</b>
                            </h2>
                        </div>  

<button class="tablink" onclick="openPage('Add', this)" style="background-color: #a6ada6;">Create Single Invoice</button>
<button class="tablink" onclick="openPage('List', this)" style="background-color: #a6ada6;">Create Mass Invoice</button>
<div id="Add" class="tabcontent" style="display: none;">

<div class="row">
  <div class="input-group">
    <div class="container-fluid">
            <div class="row clearfix">
                
            <div class="body">
                     <div class="input-group">
                         <div class="col-sm-2">
                            <div class="form-group">
                                     <label for="name">Class</label>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="form-group">
                                <div class="form-line">
                                    <select class="form-control">
                                      <option>One</option>
                                      <option>Two</option>
                                      <option>Three</option>
                                  </select>
                              </div>
                          </div>
                      </div>
                  </div> 

          <div class="input-group">
                         <div class="col-sm-2">
                            <div class="form-group">
                                     <label for="member_id">Student</label>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="form-group">
                                <div class="form-line">
                                     <select class="form-control">
                                      <option>One</option>
                                      <option>Two</option>
                                      <option>Three</option>
                                  </select>
                                </div>
                            </div>
                         </div>
                     </div>

                            
                    <div class="input-group">
                         <div class="col-sm-2">
                            <div class="form-group">
                                     <label for="member_id">Title</label>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" class="form-control" name="email_address"   placeholder="" required >
                                </div>
                            </div>
                         </div>
                     </div>

                       
                        <div class="input-group">
                             <div class="col-sm-2">
                                <div class="form-group">
                                     <label for="name">Description</label>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" class="form-control" name="password"   placeholder="Description" required >
                                </div>
                            </div>
                         </div>
                 </div>
                       
                     <div class="input-group">
                         <div class="col-sm-2">
                            <div class="form-group">
                                     <label for="book_sn">Date</label>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="date" class="form-control" name=""   placeholder="" required >
                                </div>
                            </div>
                         </div>
                    </div>    
          <div class="form-group">
            <button class="btn btn-block btn-lg bg-pink waves-effect" type="Submit">Add  Invoice</button>
        </div>
   </div>
  </div>
</div>
</div>
</div>
</div>

    
  
 <div id="List" class="tabcontent" style="display: none;">
  <div class="row">
<div class="input-group">
    <div class="container-fluid">
            <div class="row clearfix">
                
               <div class="body">
                     <div class="input-group">
                         <div class="col-sm-2">
                            <div class="form-group">
                                     <label for="name">Class</label>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="form-group">
                                <div class="form-line">
                                    <select class="form-control">
                                      <option>Cash</option>
                                      <option>Cheque</option>
                                  </select>
                              </div>
                          </div>
                      </div>
                  </div>       
                       
                    <div class="input-group">
                         <div class="col-sm-2">
                            <div class="form-group">
                                     <label for="member_id">Title</label>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" class="form-control" name="email_address"   placeholder="" required >
                                </div>
                            </div>
                         </div>
                     </div>

                   
                          <div class="input-group">
                             <div class="col-sm-2">
                                <div class="form-group">
                                     <label for="name">Description</label>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" class="form-control" name="password"   placeholder="Description" required >
                                </div>
                            </div>
                         </div>
                 </div>
                       
                        <div class="input-group">
                           <div class="col-sm-2">
                               <div class="form-group">
                                     <label for="name">Total</label>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" class="form-control" name="address"   placeholder="Enter Total amount" required >
                                </div>
                            </div>
                         </div>
                     </div>

                    <div class="input-group">
                         <div class="col-sm-2">
                            <div class="form-group">
                                     <label for="name">Payment</label>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" class="form-control" name=""   placeholder="Enter Payment amount" required >
                                </div>
                            </div>
                         </div>
                     </div>
                    
                        <div class="input-group">
                            <div class="col-sm-2">
                                <div class="form-group">
                                     <label for="due_date">Status</label>
                            </div>
                        </div>
                         <div class="col-md-9">
                            <div class="form-group">
                                <div class="form-line">
                                    <select class="form-control">
                                      <option>Paid</option>
                                      <option>Due</option>
                                    </select>
                              </div>
                          </div>
                      </div>
                  </div>
             

                  <div class="input-group">
                         <div class="col-sm-2">
                            <div class="form-group">
                                     <label for="name">Method</label>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="form-group">
                                <div class="form-line">
                                    <select class="form-control">
                                      <option>Cash</option>
                                      <option>Cheque</option>
                                  </select>
                              </div>
                          </div>
                      </div>
                  </div>
            
                               
                    <div class="input-group">
                         <div class="col-sm-2">
                            <div class="form-group">
                                     <label for="book_sn">Date</label>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="date" class="form-control" name=""   placeholder="" required >
                                </div>
                            </div>
                         </div>
                     </div>
                  
          <div class="form-group">
            <button class="btn btn-block btn-lg bg-pink waves-effect" type="Submit">Add Mass Invoice</button>
        </div>
   </div>
  </div>
</div>
</div>
</div>
</div>
</div>