<div class="container">
  <ul class="nav nav-tabs">
    <li class="active">
      <a data-toggle="tab" href="#profile">Profile</a>
    </li>
    <li>
      <a data-toggle="tab" href="#detail">Details</a>
    </li>

  </ul>
  <div class="tab-content">
    <div>
      <div id="profile" class="tab-pane fade in active">
        <div class="col-md-6">
          <h1>Student Detail Section</h1>
          <ul class="nav nav-tabs">
            <li class="active">
              <a data-toggle="tab" href="#personal">personal Detail</a>
            </li>
            <li><a data-toggle="tab" href="#contact">Contact Detail</a></li>
          </ul>
          <div class="tab-content">
            <div id="personal" class="tab-pane fade">
              <h3>Personal detail is under Construction</h3>
            </div>
            <div id="contat" class="tab-pane fade">
              <h3>Contact detail is under Construction</h3>
            </div>
          </div>

        </div>
        <div class="col-md-3">
          <h1>Student Image Profile Section</h1>
        </div>
        <!-- <h3>Profile</h3>
          <p>Student Profile Is Under Construction</p> -->
      </div>
      <div id="detail" class="tab-pane fade">
        <h3>Details</h3>
        <p>Student Detail is Under Construction</p>
      </div>
    </div>

  </div>

</div>