<div class="body">
  <form ngNativeValidate (ngSubmit)="onSubmitUpdate()" #subjectForm="ngForm">
    <div class="content-wrapper">
        <div class="col-sm-6">
         <div class="panel panel-primary">
          <div class="panel-heading">
              <h4 class="panel-title">Assign Subject</h4>
          </div>
            <div class="panel-body">
              <div class="row clearfix">     
                 <div class="col-sm-10">
                      <label for="reg_input" class="req">Course* </label>
                      <select class="form-control" [(ngModel)]="selected_course" name="course" required>
                        <option *ngFor="let c of courses" [ngValue]="c.id">{{c.name}}</option>
                      </select>
                    </div>
                </div>
                <br>

               <div class="row clearfix">
                    <div class="col-sm-10">
                      <label for="reg_input" class="req">Batch*</label>
                      <select class="form-control" [(ngModel)]="selected_batch" name="batch" required>
                        <option *ngFor="let b of batch" [ngValue]="b.id">{{b.name}}</option>
                      </select>
                    </div>
                </div>
                <br>

               <div class="row clearfix">
                    <div class="col-sm-10" >
                      <label for="reg_input" class="req">Subject*</label>
                      <select class="form-control"  [(ngModel)]="selected_subject" name="subject" required>
                          <option *ngFor="let s of subjects" [ngValue]="s.id">{{s.name}}</option>
                      </select>
                    </div>
                </div>    
                <br>

         <div class="panel-footer">
            <button class="btn btn-primary btn-lg" type="Submit"><b>Update</b></button>
       </div>
   </div>
</div>
</div>

