<div class="body">
 <div class="content-wrapper">
    <div class="content">
      <div class="page-header">
         <ol class="breadcrumb breadcrumb" style="background-color:#aabad8;">
              <li><a href="#"><i class="material-icons">home</i> Home</a></li>
              <li><a href="#"><i class="material-icons">class</i>Section </a></li>
              <li class="active"> Add Section</li>
           <ul class="breadcrumb-elements">                          
            </ul>
            <a class="breadcrumb-elements-toggle"><i class="icon-menu-open"></i></a><a class="breadcrumb-elements-toggle"><i class="icon-menu-open"></i></a>
            </ol> 
            <br>
<div class="row">
  <form (ngSubmit)="onSubmit()" #sectionForm="ngForm">
   <div class="col-sm-12">
            <div class="panel panel-default">
              <div class="panel-heading" style="background-color:#aabad8;">
                <h4 class="panel-title">Add Section</h4>
              </div>
              <br> 

  <div class="panel-body">
    <div class="row clearfix">
            <div class="col-sm-6">
                  <label for="class">Class</label>
                     

      <select class="form-control" (change)="selectClass($event.target.value)"      
     [(ngModel)]="section.r_class" name="name">
      <option [value]="{{.obj.id}}">{{obj.name}}</option>
      </select>
            </div>



 
            <div class="col-sm-6">
                  <label for="section_name">Section Name</label>
                     <input type="text" class="form-control" [(ngModel)]="section.name"  [ngModelOptions]="{standalone: true}"name="zip_code"  size="84" maxlength="45" placeholder="Enter Section Name " required>
            </div>
        </div>
        <br>

        
<br>
<br>
    <div class="form-group">
            <button class="btn btn-block btn-lg waves-effect" style="background-color:#aabad8;" type="Submit"><b>Add Section</b></button>
        </div>







