<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="header">
        <div class="page-header">
            <ol class="breadcrumb breadcrumb" style="background-color:#aabad8">
                            <li><a href="javascript:void(0);"><i class="material-icons">home</i> Home</a></li>
                            <li><a href="javascript:void(0);">Student</a></li>
                            <li><a href="javascript:void(0);">Detail</a></li>
            </ol>
        </div>
    </div>

    <div class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header" style="background-color:#aabad8">
                    <h2>
                        Mr AB.
                    </h2>
                </div>

                    <ul class="nav nav-tabs tab-nav-right" role="tablist">
                        <li role="presentation" class="active"><a href="#vehicle" data-toggle="tab" aria-expanded="true">Vehicle </a></li>
                    </ul>

                <div class="tab-content">
                     <div  class="tab-pane fade in active" id="vehicle">
                        <div class="body">
                            <div class="header"><h2>Vehicle Details</h2></div>
                        <br>

               <div class="panel-body">
          <div class="row clearfix">
            <div class="col-sm-6">
                  <label for="vehicle_no">Vehicle No.</label>
                     <input type="number" class="form-control"  name="vehicle_no" maxlength="45"placeholder="" required>
            </div>

            <div class="col-sm-6">
                  <label for="no.of seats">No.Of seats</label>
                     <input type="number" class="form-control"  name="no.of seats"  size="84" maxlength="45"placeholder="Enter Last Name" required>
            </div>
         </div>
    <br>
        <div class="row clearfix">
            <div class="col-sm-6">    
                     <label for="maximum_allowed">Maximum Allowed</label>
                       <input type="number" class="form-control" name="maximum_allowed"  size="84" maxlength="45" placeholder="" required>
            </div>
            <div class="col-sm-6">
                  <label for="vehicle_type">Vehicle Type</label>
                     <select  class="form-control" >
                      <option value selected="selected"> Please select</option>
                      <option value="1">Contract</option>
                      <option value="2">Ownership</option>
                    </select>
            </div>
        </div>
        <br>

         <div class="row clearfix">
            <div class="col-sm-6">
              <label for="reg_input_name" class="req">Contact Person</label>
                <input size="84" maxlength="45" class="form-control" name="Transportvehicle[transportvehicle_contactperson]" id="Transportvehicle_transportvehicle_contactperson" type="text"> Contact Person cannot be blank.
            </div>        

            <div class="col-sm-6">
                <label for="reg_input_name">Insurance Renewal Date</label>
                 <select class="form-control">
                  <option value="1968">1968</option>
                  <option value="1969">1969</option>
                  <option value="1970">1970</option>
                  <option value="1971">1971</option>
                  <option value="1972">1972</option>
                  <option value="1973">1973</option>
                  <option value="1974">1974</option>
                  <option value="1975">1975</option>
                  <option value="2001">2001</option>
                  <option value="2002">2002</option>
                  <option value="2003">2003</option>
                  <option value="2005">2005</option>
                  <option value="2007">2007</option>
                  <option value="2009">2009</option>
                </select>
            </div>
        </div>

       <div class="row clearfix">
            <div class="col-sm-6">
                <label for="reg_input_name">Track ID</label>
                  <input size="84" maxlength="45" class="form-control" name="Transportvehicle[trackid]" id="Transportvehicle_trackid" type="text">  
                  </div>                
                </div>
                <br>
                <br>
          <div class="form-group">
            <button class="btn btn-block btn-lg waves-effect" style="background-color:#aabad8" type="Submit"><b>Save</b></button>
        </div>
       </div>
   