
<div class="body">
  <form (ngSubmit)="OnSubmitTerm()" #setTerm="ngForm">
    <div class="content-wrapper">
      <div class="col-sm-6">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h4 class="panel-title">Set Term</h4>
          </div>
          <div class="panel-body">
            <div class="row clearfix">
              <div class="col-sm-6">
                <label for="term_name" class="label-control">Term Name</label>
                <input type="text" id="term_name" class="form-control" name="term_name" [(ngModel)]="_term.name"
                  placeholder="Term Name">

              </div>

              <div class="col-sm-6 ">
                <label for="start_date" class="label-control">Start Date</label>
                <input type="date" id="start_date" class="form-control" name="start_date" [(ngModel)]="_term.start_date">

              </div>

                <div class="col-sm-6 form-top-margin" >
                  <label for="end_date" class="label-control">End Date</label>
                  <input type="date" id="end_date" class="form-control" name="end_date" [(ngModel)]="_term.end_date">

                </div>

                <div class="col-md-6 form-top-margin">
                  <label for="course">Select Course</label>
  
                  <select class="form-control" name="course" [(ngModel)]="selected_course">
                    <option *ngFor="let course of _course" [ngValue]="course.id">{{course.name}}</option>
  
                  </select>
                </div>
               
              <div class="col-md-6 form-top-margin">
                <label for="class">Select Class</label>

                <select class="form-control" name="class" [(ngModel)]="selected_class">
                  <option *ngFor="let _class of class" [ngValue]="_class.id">{{_class.name}}</option>

                </select>
              </div>
             





            </div>

            <div class="panel-footer">
              <button class="btn btn-primary" type="Submit">Set Term</button>
            </div>
          </div>
        </div>
      </div>


    </div>
  </form>
</div>

<!--Hello View Section-->

<div class="body">

  <div class="content-wrapper">
    <div class="col-sm-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h4 class="panel-title">Manage Terms</h4>
        </div>
        <div class="panel-body">


          <div class="table-responsive">
            <!-- <div class="row">
              <div class="col-xs-6 col-md-6">
                <div class="input-group">
                  <input type="text" (keyup)='updateFilter($event)' class="form-control" placeholder="Enter Name" id="txtSearch" />
                  <div class="input-group-btn">
                    <button class="btn btn-primary" type="submit">
                      <span class="glyphicon glyphicon-search"></span>
                    </button>
                  </div>
                </div>
              </div>
            </div> -->
            <!-- <input type='text' style='padding:8px;margin:15px auto;width:30%;' placeholder='search with name'
                                (keyup)='updagitteFilter($event)'
                              /> -->
            <ngx-datatable class="material" [rows]="totlTerm" [sortType]="'multi'" [columnMode]="'force'" [headerHeight]="50"
              [footerHeight]="50" [rowHeight]="'auto'" [limit]="10">

              <ngx-datatable-column name="ID" prop="id">
                <ng-template let-column="column" ngx-datatable-header-template>{{column.name}}</ng-template>
                <ng-template let-value="value" ngx-datatable-cell-template>{{value}}</ng-template>
              </ngx-datatable-column>

           

              <ngx-datatable-column name="Name" prop="name">
                <ng-template let-column="column" ngx-datatable-header-template>{{column.name}}</ng-template>
                <ng-template let-value="value" ngx-datatable-cell-template>{{value}}</ng-template>
              </ngx-datatable-column>
              
              <ngx-datatable-column name="Batch" prop="batch">
                  <ng-template let-column="column" ngx-datatable-header-template>{{column.name}}</ng-template>
                  <ng-template let-value="value" ngx-datatable-cell-template>{{value}}</ng-template>
               </ngx-datatable-column>

              <ngx-datatable-column name="Actions" sortable="false" prop="id">
                <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                  Manage
                </ng-template>

                <ng-template let-row="list" let-value="value" ngx-datatable-cell-template>
                  <a class="glyphicon glyphicon-eye-open btn btn-primary" style="margin-left:-5px;" title="" href="/exam/edit_term/{{value}}"><img src="" alt=""></a>
                  <!-- <a class="glyphicon glyphicon-trash left-icon" title="" href="#"><img
                      src="" alt=""></a> -->
                      <button class="glyphicon glyphicon-trash left-icon btn btn-danger" style="margin-left:2px;" (click)="exmTermDelete(value)"></button>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </div>
        </div>


      </div>
    </div>


  </div>

</div>
<!--View Section End-->