<div class="body">
 <div class="content-wrapper">
    <div class="content">
      <div class="page-header">
        <ol class="breadcrumb breadcrumb">
                                <li><a href="javascript:void(0);"><i class="material-icons">home</i> Home</a></li>
                                <li><a href="javascript:void(0);"></a></li>
                                <li><a href="javascript:void(0);">Add timetable</a></li>
            </ol>

   <div class="row">
     <form ngNativeValidate (ngSubmit)="onSubmit()" #addtimetableForm="ngForm">
      <div class="col-sm-12">
          <div class="card">
                        <div class="header">
                            <h2>
                                <b>
                                  Add TimeTable
                                </b>
                            </h2>
                        </div>
                        <br>

      <div class="panel-body">
       <div class="row clearfix">
           <div class="col-sm-4">
              <label for="reg_input" class="req">Teacher </label>
                 <select class="form-control" [(ngModel)]="selected_teacher" name="reg_input" required>
                    <option value="">Select teacher</option>

                    <option *ngFor="let teacher of teachers" [ngValue]="teacher.id" required >{{teacher.user.first_name}}</option>
                  </select>
           </div>    
           </div>   
          </div>

                     
         <div class="form-group col-sm-2">
              <label   name="teacher_id"> &nbsp; &nbsp;  </label>
                <p> &nbsp;&nbsp;
                  <a (click)="generate_timetable()" class="btn btn-info">Add</a>
                </p> 
         </div>
  </div>

    <div class="col-sm-12"   *ngIf="time_table">
        <div class="table-responsive">
          <br>
            <div>

              <div class="row">
                <label class="control-label col-sm-1">timetable type</label>
                <div class="col-xs-6 col-md-4">
                  <div class="input-group">
                    <input type="text" (keyup)='updateFilter($event)' class="form-control" placeholder="Enter time table Name" id="txtSearch" />
                    <div class="input-group-btn">
                      <button class="btn btn-primary" type="submit">
                        <span class="glyphicon glyphicon-search"></span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>

              <ngx-datatable class="material" [rows]="rows" [sortType]="'multi'" [columnMode]="'force'" [headerHeight]="50"
                [footerHeight]="50" [rowHeight]="'auto'" [limit]="10">

                <ngx-datatable-column name="Time" prop="time">
                  <ng-template let-column="column" ngx-datatable-header-template>{{column.name}}</ng-template>
                  <ng-template let-value="value" ngx-datatable-cell-template>{{value}}</ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Sunday" prop="Sunday">
                  <ng-template let-column="column" ngx-datatable-header-template>{{column.name}}</ng-template>
                  <ng-template let-value="value" ngx-datatable-cell-template>

                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Monday" prop="monday">
                  <ng-template let-column="column" ngx-datatable-header-template>{{column.name}}</ng-template>
                  <ng-template let-value="value" ngx-datatable-cell-template>{{value}}</ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Tuesday" prop="tuesday">
                  <ng-template let-column="column" ngx-datatable-header-template>{{column.name}}</ng-template>
                  <ng-template let-value="value" ngx-datatable-cell-template>{{value}}</ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Wednesday" prop="wednesday">
                  <ng-template let-column="column" ngx-datatable-header-template>{{column.name}}</ng-template>
                  <ng-template let-value="value" ngx-datatable-cell-template>{{value}}</ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Thursday" prop="thrusday">
                  <ng-template let-column="column" ngx-datatable-header-template>{{column.name}}</ng-template>
                  <ng-template let-value="value" ngx-datatable-cell-template>{{value}}</ng-template>
                </ngx-datatable-column>


                <ngx-datatable-column name="Friday" prop="friday">
                  <ng-template let-column="column" ngx-datatable-header-template>{{column.name}}</ng-template>
                  <ng-template let-value="value" ngx-datatable-cell-template>{{value}}</ng-template>
                </ngx-datatable-column>

              </ngx-datatable>
            </div>
          </div>




        
    </div>
                                       