<div class="body">
 <div class="content-wrapper">
    <div class="content">
      <div class="page-header">
        <ol class="breadcrumb breadcrumb">
                                <li><a href="javascript:void(0);"><i class="material-icons">home</i> Home</a></li>
                                <li><a href="javascript:void(0);"></a></li>
                                <li><a href="javascript:void(0);">Add timetable</a></li>
            </ol>

   <div class="row">
     <form ngNativeValidate (ngSubmit)="onSubmit()" #addtimetableForm="ngForm">
      <div class="col-sm-12">
          <div class="card">
                        <div class="header">
                            <h2>
                                <b>
                                  Add TimeTable
                                </b>
                            </h2>
                        </div>
                        <br>

      <div class="panel-body">
       <div class="row clearfix">
           <div class="col-sm-4">
              <label for="reg_input" class="req">Teacher </label>
                 <select class="form-control" [(ngModel)]="teacher.user.first_name" name="reg_input">
                    <option value="">Select teacher</option>

                    <option *ngFor="let teacher of teachers" [ngValue]="teacher.id">{{teacher.user.first_name}}</option>
                  </select>
           </div>    
           </div>   
          </div>

                     
         <div class="form-group col-sm-2">
              <label   name="teacher_id"> &nbsp; &nbsp;  </label>
                <p> &nbsp;&nbsp;
                  <a (click)="generate_Timetable()" class="btn btn-info">Add</a>
                </p> 
         </div>
  </div>

    <div class="col-sm-12"   *ngIf="isclicked">

          

        <div class="table-responsive">
            <div>
              <div class="row">
                <label class="control-label col-sm-1">Search timetable</label>
                <div class="col-xs-6 col-md-4">
                  <div class="input-group">
                    <input type="text" (keyup)='updateFilter($event)' class="form-control" placeholder="Enter Name" id="txtSearch" />
                    <div class="input-group-btn">
                      <button class="btn btn-primary" type="submit">
                        <span class="glyphicon glyphicon-search"></span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- <input type='text' style='padding:8px;margin:15px auto;width:30%;' placeholder='search with name'
                                (keyup)='updateFilter($event)'
                              /> -->
              <ngx-datatable class="material" [rows]="rows" [sortType]="'multi'" [columnMode]="'force'" [headerHeight]="50"
                [footerHeight]="50" [rowHeight]="'auto'" [limit]="10">

                <ngx-datatable-column name="ID" prop="id">
                  <ng-template let-column="column" ngx-datatable-header-template>{{column.name}}</ng-template>
                  <ng-template let-value="value" ngx-datatable-cell-template>{{value}}</ng-template>
                </ngx-datatable-column>

                <!-- <ngx-datatable-column name="Name" prop="user.first_name">
                  <ng-template let-column="column" ngx-datatable-header-template>{{column.name}}</ng-template>
                  <ng-template let-value="value" ngx-datatable-cell-template>{{value}}</ng-template>
                </ngx-datatable-column> -->
                <ngx-datatable-column name="Name" prop="user.first_name">
                  <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                    <span
                      title="Double click to edit"
                      (dblclick)="editing[rowIndex + '-name'] = true"
                      *ngIf="!editing[rowIndex + '-name']">
                      {{value}}
                    </span>
                    <input
                      autofocus
                      (blur)="updateValue($event, 'name', rowIndex)"
                      *ngIf="editing[rowIndex+ '-name']"
                      type="text"
                      [value]="value"
                    />
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Address" prop="address_detail.address">
                  <ng-template let-column="column" ngx-datatable-header-template>{{column.name}}</ng-template>
                  <ng-template let-value="value" ngx-datatable-cell-template>{{value}}</ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="Phone" prop="phone.number">
                  <ng-template let-column="column" ngx-datatable-header-template>{{column.name}}</ng-template>
                  <ng-template let-value="value" ngx-datatable-cell-template>{{value}}</ng-template>
                </ngx-datatable-column>
 
                <ngx-datatable-column name="Actions" sortable="false" prop="id">
                  <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                    Manage
                  </ng-template>
                 <!--  <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <a class="glyphicon glyphicon-eye-open" title="" href="/student/detail/{{value}}"><img src="" alt=""></a>
                    <a class="glyphicon glyphicon-trash left-icon" title="" href="/student/delete/{{value}}"><img src="" alt=""></a>
                  </ng-template> -->
                </ngx-datatable-column>
              </ngx-datatable>
            </div>
          </div>




        
    </div>
                                       